[2021-11-19 16:48] BreakBB commented on #3251
Hey @Cabro I couldn't find an issue in our data. What version of Questie are you using and did you experience this problem on Classic Era/SoM or TBC?

[2021-11-19 16:51] #3240 closed

[2021-11-19 16:51] #3238 closed

[2021-11-19 16:56] BreakBB commented on #3087
This is a desync issue and will be fixed with #3111

[2021-11-19 16:56] #3087 closed

[2021-11-19 17:20] BreakBB commented on #2841
This was fixed with c5c7d033ae0fb07d83c85e4fa5fa640a48f89190

[2021-11-19 17:20] #2841 closed

[2021-11-19 17:23] #2852 closed

[2021-11-19 17:23] #3063 closed

[2021-11-19 17:23] #3069 closed

[2021-11-19 17:23] #3088 closed

[2021-11-19 17:23] #2851 closed

[2021-11-19 17:23] #2869 closed

[2021-11-19 17:44] Cabro commented on #3251
I am using TBC version of  the latest version. The issue is that Questie shows me those quests as missing prequest, instead of unobtainable, or missing completely from that list (just like SMV zone with aldor/scryer quests).

[2021-11-19 17:50] #3251 closed

[2021-11-19 18:00] Cabro opened #3261 "Questie doesn't remove the yellow question mark from quests that are no longer complete."
Just stumbled upon this bug while questing in Silithus.
There are 2 quests that require the same thing: 1x Abyssal Scepter: https://tbc.wowhead.com/quest=9248/a-humble-offering and https://tbc.wowhead.com/quest=8352/scepter-of-the-council .
After turning in one of them, while having only 1 scepter in bags, the other one did not remove the yellow question mark on the map. The blizzard quest tracker

[2021-11-19 19:30] Laumesis commented on #3235
Alliance and originally refered 11242 is not fixed. You fixed Horde version :)

[code]
The quest <https://tbc.wowhead.com/quest=11242/free-at-last>
Start npc <https://tbc.wowhead.com/npc=23904/sir-thomas>
Finish npc <https://tbc.wowhead.com/npc=24519/costumed-orphan-matron>

Seems missing from events, blacklisting, quest corrections (start and finish not in original data). npcDB is okey.

[2021-11-19 20:16] Cabro opened #3262 "Archmage Leryda appears as having available some Violet Eye quests when there are none."
Similar to the Brood of Nozdormu rings quests, once you pick a path you have to reach exalted in order to get the quest that allows you to change the ring to a different style. However that is not the case, and it is a mess (from what i see).
What i see upon mouseover of the NPC:
https://imgur.com/9ghAnfN
What i see in map:
https://imgur.com/I2dwZ8w
What quest is actually available:
https://imgur.

[2021-11-19 20:23] Laumesis commented on #3262
Thanks reporting.

For those with write access:
Duplicate of #3100

[2021-11-19 22:13] #3262 closed

[2021-11-20 01:35] #2577 closed

[2021-11-20 18:06] Laumesis opened #3263 "QuestieReputation won't detect reputation change if faction is under collapsed section"
`function QuestieReputation:Update()` won't detect reputation change if the reputation pane has related section collapsed.

v6.8.1

[2021-11-20 20:21] Cabro opened #3264 "The tracker doesn't always update quest objectives."
It seems the tracker has problems updating quest objectives when they are prison keys.
The key was received as a quest reward from daily dungeon. The tracker failed to pick this up.
Here's a screenshot to show the problem:
https://i.imgur.com/SJKWhkR.jpg

[2021-11-20 21:36] BreakBB commented on #3264
Yes, that is a known issue which we call "desync". The PR #3111 tackles this problem already and is close to be done. The update which contains the changes of that PR will fix this issue 👍🏻

[2021-11-21 15:13] #3264 closed

[2021-11-22 03:58] MyTechnoHunter opened #3265 "Classic SoM quest ID 1206"
## Description
quest text on tooltip(shift) is wrongly stating 20 eyes needed, when the tracker and the quest itself say it needs 40

![image](https://user-images.githubusercontent.com/55214545/142798941-e27d5a4d-ea33-496e-95f5-6efef24bee84.png)

## Questie version
6.8.1

[2021-11-22 06:56] Laumesis opened #3266 "Questie Tracker stuck on mouse while moving with multiple buttons down"
Questie Tracker gets stuck on mouse if moving with mutiple mouse buttons down.

1. Start dragging the tracker with left mouse button
2. Press down also right mouse button
3. Release left mouse button
4. Tracker is still moving with mouse
5. Release right mouse button
6. Tracker is still moving with mouse

This is because `OnDragStop(self)` ui handler event doesn't have second parameter for mouse b

[2021-11-22 07:26] Laumesis opened #3267 "Trying to drag Questie Tracker while in combat throws a lua error"
Trying to start draggin Questie tracker while in combat throws a lua error.

1. Tracker is locked - i.e. requires ctrl down to move.
2. Get in combat
3. While pressing crtl down try drag the tracker with left mouse button.
4. lua error

This happens because the frame is set movable only while ctrl modifier is down if the tracker is locked.
MODIFIER_STATE_CHANGED is registered in QuestieEventHandle

[2021-11-22 07:58] #3266 closed

[2021-11-22 08:00] #3267 closed

[2021-11-22 08:40] drejjmit commented on #3265
https://classic.wowhead.com/quest=1206/jarl-needs-eyes

[2021-11-22 09:07] Laumesis commented on #3265
The report was regarding SoM, so yep

[2021-11-22 18:31] #3265 closed

[2021-11-23 13:11] bkuhns-git opened #3270 "A Rogue's Deal not completing"
Accepted and did the quest 'A Rogue's Deal' and the exclamation marker for accepting the quest remained on the map/minimap. Probably doesn't register because the quest is weird and it takes a second to accept (mark him hostile) and complete (wait for him to eat and be full health). -bk

[2021-11-23 14:07] BreakBB opened #3271 "Zone names are not translated in the Journey"
## Bug description

In the Quests by Zone tab when clicking on a quest the zone name is not translated.

## Screenshots

## Questie version

v6.8.1

[2021-11-23 22:44] BreakBB commented on #3270
Hey @bkuhns-git

Can you do a `/reload` and check if the mark is still shown on the map?

If yes it would be great if you could enable "Show Quest IDs" in the Advanced Options and share a screenshot of it.

If the mark is not shown anymore than it was a simple "desync" which is caused by some fuzzy Questie logic which we are currently rebuilding (PR #3111)

[2021-12-04 22:26] oscarTGouch commented on #2621
I found a solution. it seems to be a conflict with Elvui and Questie tracker locations. My Elvui locator was in the center of the screen and the Questie locator was where I asked it to be, under the mini map on the right side of the screen. When logging on it would error out and reset to the Elvui position.
Solution:
1. Login to WOW and enable Elvui
2. 2. Enable the Elvui "Toggle Anchors"
3.  Move

[2021-12-07 13:41] Treeston opened #3276 "Quest availability not strict enough: The Tomb of Lights (10840) & The Vengeful Harbinger (10842)"
## Description
The quests **The Tomb of Lights** and **The Vengeful Harbinger** are being displayed as available, despite not being available.

_(Wowhead comments suggest that [Missing Friends](https://tbc.wowhead.com/?quest=10852) is a pre-requisite. I have not completed this quest.)_

## Wowhead link
[The Tomb of Lights](https://tbc.wowhead.com/quest=10840/the-tomb-of-lights#comments)
[The Venge

[2021-12-07 15:25] MurderOnMyMind7 opened #3277 "Continent/Zone Dropdown Box"
Hello,

Sorry to be a bother, but I was wondering if you were able to add the dropdown boxes for the continents/zones back on the map screen. I'm running the version of Questie prior to the update in which they were removed. Is it possible to bring them back? It drives me nuts not being able to view/use them. Also, the "Hide Questie" button was moved to the top right of the map, covering a button

[2021-12-07 16:37] Jakobud opened #3278 "Shredding Machines XT:4 path on map is incorrect"
## Description
For this quest:

https://tbc.wowhead.com/quest=1068/shredding-machines

You have to kill 2 NPCs. Both XT:9 and XT:4. Both of them Questie draws a path on the world map to show where they walk around. This one: https://tbc.wowhead.com/npc=4073/xt-4 has an incorrect path drawn:

## Wowhead link
https://tbc.wowhead.com/npc=4073/xt-4

You can see on Wowhead the area is much larger as we

[2021-12-07 17:30] Jakobud commented on #3278
Okay I spent some time following the XT:4 npc around and recorded his path properly. He actually doesn't walk in any sort of circle. He starts in one spot, follows a long winding path to another spot, turns around and follows the exact same path back to the beginning. Just goes back and forth all day.

I also determined his proper spawn point.

I have all the coordinates now for where we walks. Th

[2021-12-07 21:14] Jakobud commented on #3278
Aha I had to recompile the database. Think I got this figured out now.

[2021-12-08 12:07] azulprime opened #3280 "Cuergo's Gold Turn in Map Marker Missing"
## Bug description

## Screenshots

## Questie version

[2021-12-09 18:49] ucapbba opened #3281 "Questie does not load for certain toons on Burning Crusade."
## Bug description
Questie does not load for certain toons on Burning Crusade.  I updated to latest version yesterday with Curse Forge and there was some issue with other addons when logging in in with 2 toons so I removed everything and restarted.   The affected toons now do not load Questie upon entering (i.e. I see nothing in chat and no symbols on map) whereas other ones load Questie, albeit w

[2021-12-09 20:29] BreakBB opened #3282 "Waypoint tooltip show too much information"
## Bug description

When hovering over a waypoint line the tooltip shows way too many information. It looks like it might be connected to dungeon entry tooltips.

## Screenshots

Tooltip of a waypoint line
![grafik](https://user-images.githubusercontent.com/33514570/145470913-e9d9673d-bc28-4ad3-83a7-80492c1e99dd.png)

Tooltip of the dungeon entry related map icons
![grafik](https://user-images.git

[2021-12-09 20:38] BreakBB commented on #3280
Hey @azulprime could you add at least some kind of the minimal information to the issue? What version of Questie are you using? Is this about Classic or TBC?...

[2021-12-09 20:42] BreakBB commented on #3277
Hey @MurderOnMyMind7 So the drop down items are hidden on purpose, because of a nasty bug Blizzard has in their UI. Showing them would result in many broken UI elements, but we are also waiting for Blizzard to get their stuff fixed.

About the map button issue you have: Could you open up a new issue about it, share the name of the addon and a screenshot? We might be able to fix it easily. But to b

[2021-12-09 20:46] BreakBB commented on #3276
Hey @Treeston Thanks for the report!

You are not the first reporting this as you can see in #3257 - I am still looking for a way to check which quests are required and which are not.
It would be great if you could read through the comments on that issue and see if you find similarities about quests you did complete and quests you did not at the point of you report 💪🏻

Also I am merging the issues

[2021-12-09 20:46] #3276 closed

[2021-12-10 01:37] azulprime commented on #3280
Version 6.8.1, Classic

[2021-12-10 20:13] LotG-Catherine opened #3283 "The Great Ezra Grimm"
## Description
The quest The Great Fras Siabi has been changed to The Great Ezra Grimm.  As you might know, the quest and that character were named after one of the Blizzard execs at the heart of last year's revelations about Blizzard's poor work environment.  Blizzard slipped in this change; I happened to take the quest and saw the name and character change last night.  I also saw Questie tell me

[2021-12-11 00:33] lbuchholz79 opened #3285 "Announcement improvements"
When leveling in a group, one member might miss when a quest is accepted or abandoned. Thou Questie syncs quests in the background, but 1) thats a bit cumbersome to check regularly, 2) new quests wont be shown in your quest log at all. So I thought it would be nice to get informed every time, a party member accepts, abandons or hands-in a quest. (implemented in PR #3273)

Based on the code in #327

[2021-12-11 00:37] lbuchholz79 commented on #3285
See implemention in #3286

[2021-12-11 11:13] drejjmit commented on #3281
Check that the checkmark isn't silver on the character you're trying to load Questie on
![image](https://user-images.githubusercontent.com/15526476/145674418-19604cd0-59a6-4a4f-b9fd-6d998d75ec46.png)
If it is, click it twice so it's gold.

[2021-12-11 17:47] Bananaman commented on #3044
@BreakBB I apologize for not getting involved after reporting a bunch of Questie issues. I quit WoW around the same time.

Everything came from me reverse engineering Questie to make a Plater nameplate addon that replaces Questie's nameplate code:

https://wago.io/0mQNBUdpV

I hope the issue reports are still a form of contribution even though I didn't have time to rewrite anything for Questie...

[2021-12-13 10:14] ucapbba commented on #3281
Thanks for your response - I didn't notice if it was silver before, but it is gold now and working well.
![QuestieTick](https://user-images.githubusercontent.com/87702063/145793475-fb2d095e-4835-4ad9-a776-ba60c5f39291.png)

[2021-12-13 10:14] #3281 closed

[2021-12-13 17:44] Gluecksbaerli opened #3288 "Quest Link in Chat"
Hello
im using Questie with version 6.8.1
the tooltip of the quest link in chat ( when use shift click on the quest) will show me the tooltip in english - can i switch that tooltip into german witch is my client ?
in generell settings i set German

LG Bärli

[2021-12-14 08:20] BreakBB commented on #3288
Hey @Gluecksbaerli could you share a screenshot of the tooltip and your settings?

Iirc the tooltip is added my the Reputable addon and not Questie.

[2021-12-14 08:21] BreakBB commented on #3283
Hey @LotG-Catherine thanks for the report, yes we will rename this to match what ever the game shows 👍🏻

[2021-12-14 17:34] Gluecksbaerli commented on #3288
ahhhh yes
sorry did not think that it comes from another addon haha
(hook out on "Show quest tooltip on Questie Hyperlink mouseover"
then it works :)

[2021-12-14 21:25] tap3ah opened #3289 "Regthar Deathgate not showing on the map"
## Description
When I hit level 30, the quest **Regthar Deathgate** was offered to me, but Questie did not show the mark on the map.

## Wowhead link
https://classic.wowhead.com/quest=1361/regthar-deathgate

## Screenshots

## Questie version
6.8.1

[2021-12-16 22:42] lewisam69 opened #3291 "Having several questieframe icons in game"
I installed from curseforge the latest version of questie v6.8.1 in world of Warcraft classic burning crusade, I get several icons maybe 5-6 questieframe 346, questieframe 780 all numbers like that. I try to remove add-on folder questie and to reinstall the same issue
![thumbnail](https://user-images.githubusercontent.com/96268225/146935953-7335fc98-c9f1-4ec1-a6a9-3d99365ac055.jpeg)

[2021-12-20 10:50] BreakBB opened #3292 "In Search of Thaelrid should be available to Horde"
## Description

The quest "In Search of Thaelrid" is available to Horde players as well, even though the starting NPC is located in Darnassus. Reported by Cerby on Discord.

This is confirmed for TBC, but might also be the case of Classic Era (even though wowhead says Era is Alliance only).

## Wowhead link

https://tbc.wowhead.com/quest=1198/in-search-of-thaelrid

## Screenshots

![grafik](https:

[2021-12-21 10:58] #3288 closed

[2021-12-21 10:59] BreakBB commented on #3289
Hey @tap3ah I guess this report is for Classic SoM?

[2021-12-21 11:07] BreakBB commented on #3291
Hey @lewisam69 did you already solve this issue? I am not sure if I fully understand what the problem is you are experienceing. A screenshot might help.

Moreover did you try to delete the [Questie related files in your WTF folder](https://github.com/Questie/Questie/wiki/FAQ#2-questie-still-doesnt-show-anything)?

[2021-12-21 11:25] lewisam69 commented on #3291
Hello,

Hereby a screenshot where you can this icon QuestieFrame (on top right of screenshot) and a number but I have many of them under that one.
I reinstall my Mac for other reasons, I reinstall world of warcraft, other adding and Questie but the problem is still there even I delete the folder Questie and I put it manually instead through Curseforge.

Regards,

[2021-12-21 12:05] BreakBB commented on #3291
Hey @lewisam69 unfortunately you can't send images when answering via mail. Please open the issue in a browser and attach the screenshot there https://github.com/Questie/Questie/issues/3291

[2021-12-21 13:15] lewisam69 commented on #3291
Hello,
I updated the issue with image.
Regards,
    On Tuesday, 21 December 2021, 13:05:39 CET, Björn Böing ***@***.***> wrote:

Hey @lewisam69 unfortunately you can't send images when answering via mail. Please open the issue in a browser and attach the screenshot there #3291

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for

[2021-12-21 13:25] BreakBB commented on #3291
This looks interesting 🤔 Could you try to disable all other addons and just keep Questie enabled and see if it still happens?

[2021-12-21 16:12] lewisam69 commented on #3291
Hello Bjorn,

I désactivante all addons, it is working fine no more QuestieFrame icons, I reactivate slowly all adding one by one, it seems that add-on Leatrix Plus makes conflict with that. If I disable Leatrix Plus, no QuestieFrame and as soon I enable back, it appears again.

Regards,

[2021-12-21 16:39] lewisam69 commented on #3291
Hello,

As I say Leatrix Plus add-on makes conflict with Questie add-on but not on all computers  and Mac computers, only on new MacBook Pro M1Max (the one I have maybe also M1Pro). It doesn’t make conflict on my Asus computer or my old MacBook Pro.

Regards,

[2021-12-21 18:16] tap3ah commented on #3289
Hi
Yes

[2021-12-21 19:50] tap3ah opened #3293 "missing marker for 'The Corrupter'"
## Description
I have looted the item (Flayed Demon Skin) that starts the quest (The Corrupter) but the marker wasn't on the map prior to that. Horde character.

## Wowhead link
https://classic.wowhead.com/quest=1480/the-corrupter

## Screenshots

## Questie & WoW version
v6.8.2
SoM

[2021-12-22 12:31] BreakBB commented on #3291
Hey @lewisam69 addons are completely independent to the OS. So it makes no difference if an addon is used on a Windows PC or a Mac.

Could it be, it is related to some setting you have enabled on your Mac, but not on the Asus? Maybe something related to the minimap or minimap icons?

Also which version of Leatrix are you using? You should also reach out to the developers of Leatrix Plus, maybe the

[2021-12-23 19:46] #3278 closed

[2021-12-25 11:42] chienb commented on #3185
im also having this issue on v6.8.2 tbc classic.
![image](https://user-images.githubusercontent.com/12900266/147384199-23fc7a6e-75e6-4180-a996-1ce8349b796c.png)

[2021-12-26 00:44] ars4l4n opened #3294 "Questies' Quest Tracker behaves buggy when questlog is almost full"
## Preface
Compared to Blizzards' default quest tracker, the one by Questie leaves out a lot of screen real estate on the right side of it (https://i.imgur.com/VhWPfnK.jpeg), and at the same time extends all the way down even "below" the monitor when you have lots of quests which looks off compared to the rest of Blizzards' UI. So it was reasonable for me to try and reposition and resize it.

## D

[2021-12-28 23:59] BreakBB commented on #3257
So I did some quests and forgot to check after every quest, but again I am able to accept "The Tomb of Lights" and "The Vengeful Harbinger" without completing "Missing Friends". The quests I did after the last check are:

- Taken in the Night
- The Dread Relic
- An Improper Burial
- For the Fallen
- Digging Through Bones
- Fumping
- A Hero is Needed
- The Fallen Exarch

Since the two quests in que

[2021-12-29 00:06] #3257 closed

[2022-01-01 02:18] x-Jake-s opened #3295 "Missing Quest BELF Starting Area"
Quest: Whitebark's Memory
Giver: Larianna Riverwind
Location: The Scorched Grove

Quest doesn't show where to place the pendant you are given.
![image](https://user-images.githubusercontent.com/8519492/147842706-6b31ca79-cbd5-4bc6-a895-5a670fabd536.png)

Turn in location:
![image](https://user-images.githubusercontent.com/8519492/147842723-f2affada-0bd2-4965-9d95-98eae572f697.png)

[2022-01-01 02:19] x-Jake-s opened #3296 "TBC Questie Missing Quest"
Quest: Whitebark's Memory
Giver: Larianna Riverwind
Location: The Scorched Grove

Quest doesn't show where to place the pendant you are given.
![image](https://user-images.githubusercontent.com/8519492/147842706-6b31ca79-cbd5-4bc6-a895-5a670fabd536.png)

Turn in location:
![image](https://user-images.githubusercontent.com/8519492/147842723-f2affada-0bd2-4965-9d95-98eae572f697.png)

[2022-01-01 02:23] #3295 closed

[2022-01-01 03:38] Laumesis commented on #3254
Just to verify, do you mean minimap button?
![image](https://user-images.githubusercontent.com/75958501/147843429-7e8d83e5-721e-46de-a474-97f5b71a52f8.png)

I think it keeps reseting to enabled once a new character starts to use Questie addon. Which seems like a bug

[2022-01-01 08:06] Slivo-fr commented on #3254
I am indeed speaking of the minimap button.

[2022-01-01 15:50] Gogo1951 opened #3297 "Questie is missing <Reagent Vendor> from the townsfolk tracker."
## Bug description

Questie is missing Reagents Vendors from the townsfolk tracker.

## Screenshots

![image](https://user-images.githubusercontent.com/55365231/147854435-bfafbd3c-7888-4cde-8d1b-bca8040c974d.png)

Here's the list you verify data from. Check the "Sold By" tab for Reagent Vendors.

https://tbc.wowhead.com/item=17028/holy-candle

https://classic.wowhead.com/item=17028/holy-candle

##

[2022-01-01 16:06] Gogo1951 commented on #3297
Missing from TBC too.

![image](https://user-images.githubusercontent.com/55365231/147854733-ef86d9db-f619-4d46-80a4-f2a218bfbb53.png)

[2022-01-01 16:06] Gogo1951 commented on #3297
Also interesting that TBC has the Stable Master, but Classic doesn't.

[2022-01-02 11:49] BreakBB commented on #3297
Hey @Gogo1951

on what class did you experience this?

"Reagents" is showing up for me on my Mage and Druid (as they can use a reagent), but not on my Warrior (since a Warrior does not need any reagent). This in on purpose, for now. But I think we should change it to show up for everyone so one can bring alone some reagents for someone else.
"Stable Master" and "Pet Food" only shows up for Hunters

[2022-01-02 15:57] Gogo1951 commented on #3297
Didn't realize Reagent Tracker was specific to Class. Doesn't show on Warrior or Hunter... because they have no "reagents." Thanks!

[2022-01-02 15:57] #3297 closed

[2022-01-03 20:42] 4meba opened #3298 "Armor durability dissapears with questie"
Wow Classic TBC 2.5.2
Questie 6.8.0

When you have some broken armor piece and the blizzard UI should show, it doesnt because of the Questie Tracker. I have only Questie activated

[2022-01-04 09:05] Wintertime1 opened #3299 "Imperial Plate Plans quests (TBC/SoM)"
Please change all the plans for Imperial Plate to be excluded from auto-completion so I never waste 85 fucking bars on shit I don't need again thanks.

[2022-01-05 16:16] Todehh opened #3300 "Problem with Questie tracking quests"
I'm always having to /reload for quests to update, I've tried reinstalling the addon.

Playing on SoM

[2022-01-06 08:55] BreakBB commented on #3299
I guess you are talking about the quests [Derotain Mudsipper](https://classic.wowhead.com/npc=14567/derotain-mudsipper) hands out in Tanaris.

Will be an easy fix. Thanks for letting us know 👍🏻

[2022-01-06 08:57] Laumesis commented on #3299
Maybe blacklist also <https://classic.wowhead.com/npc=7802/galvan-the-ancient> if not already

[2022-01-06 09:02] #3299 closed

[2022-01-06 09:07] BreakBB commented on #3296
Hey @x-Jake-s

thanks for reporting this, looks like the fix I did for it in the TBC beta didn't work then and you are the first one reporting it. Will be an easy fix though (even though not as nice as the fix initially planned) 😁

[2022-01-06 09:10] #3296 closed

[2022-01-06 12:08] Todehh commented on #3300
These are the other addons I use in case one conflicts with questie
![image](https://user-images.githubusercontent.com/97182820/148380639-189bed1a-e5f3-4ca7-bb23-d09f2380af7d.png)
![image](https://user-images.githubusercontent.com/97182820/148380713-5828c949-cd87-4306-98b7-4aa1084cc83b.png)
![image](https://user-images.githubusercontent.com/97182820/148380785-6330911e-4482-4246-aaab-c72df0e82f77.p

[2022-01-06 18:19] Laumesis commented on #3185
@chienb
Try enabling `Sticky Durability Frame`

[2022-01-07 01:16] tap3ah opened #3302 "missing start quest marker"
## Description
There was no marker for the quest [A Letter Undelivered] prior to looting [A Letter to Yvette], the item that starts it.

## Wowhead link
https://classic.wowhead.com/quest=361/a-letter-undelivered
https://classic.wowhead.com/item=2839/a-letter-to-yvette

## Screenshots

## Questie & WoW version
v6.8.2
SoM

[2022-01-07 07:39] BreakBB commented on #3302
Hey @tap3ah thanks for reporting this.

The problem we have with this kind of quests is that the item drops by far too many enemies (and also does not has a very high drop chance). So showing the quest started by all the NPCs which might drop the item would flood the map with icons which is not very helpful.

We thought about adding some extra inidcator/list of such quests to the map, but simply d

[2022-01-07 08:58] tap3ah commented on #3302
Fair enough.
Simple solution could be picking one random spawn point and marking it.
Cheers

[2022-01-07 09:36] tap3ah opened #3303 "showing marker for completed quest"
## Description
After I completed the last quest in [A New Plague] chain, it's marker re-appeared on the map.

## Wowhead link
https://classic.wowhead.com/quest=492/a-new-plague

## Screenshots

## Questie & WoW version
SoM
v6.8.2

[2022-01-07 09:37] tap3ah commented on #3303
UPDATE: after UI reload the marker disappeared.

[2022-01-07 09:50] BreakBB commented on #3303
Thanks for updating this @tap3ah - We call this "desync bug" which happens from time to time (and a /reload always helps on this). The PR #3111 tackles this issue and has the highest priority with our limited time!

I will close this since there is nothing quest specific to do.

[2022-01-07 09:50] #3303 closed

[2022-01-08 20:52] Gogo1951 opened #3305 "Questie should show Silithus Quests in SoM"
![image](https://user-images.githubusercontent.com/55365231/148659634-2d4b10b7-41c4-40dd-aec7-b9c93076a99a.png)

Nothing on the map, but when you go there you see all the quest givers have ! on their heads for you.

[2022-01-09 14:59] tyrianm opened #3306 "Daily Quests vs Repeatable Quests; World map toggles"
Hello, I'd love for a pair of abilities to help make the world map more interactive and show more value when used:

1) Have a blue ? for repeatable turn-in quests, and a blue ! for actual daily quests

Right now all 'repeatable' quests show up as a blue !, which doesn't delineate the important difference between a daily quest and a repeatable turn-in quest. Adding this feature would allow for easi

[2022-01-11 00:09] amitbd33 commented on #3254
Happens to me quite frequently as well but I'm not sure how to reliably reproduce. I always disable the minimap button, but I'll notice Questie minimap button showing up popping back up.

[2022-01-13 15:56] xecutable commented on #3300
I can confirm, Questie does not update the progress of your quests. It still shows the minimap icons of the objectives, even after completion and does not show where to turn in your quest. I have disabled all other addons just to make sure. I'm playing SoM as well

[2022-01-13 17:39] xecutable commented on #3300
After a while, seems like Addon managers like Adjour, mess up the version of Questie and download some version 4.0.9 BETA and that's where the problem is.

[2022-01-13 22:52] uklesh8888 opened #3308 "No TBC tracking"
## Bug description
Azeroth tracking seems to be working just fine.  Can't seem to get anything to populate in Outlands on the world map or mini map.  The side bar with the list of quests is working.

## Screenshots

## Questie & WoW version
I'm running 6.8.2 version.  Tried uninstalling and reinstalling, clearing WTF, disabled all other addons.  Not sure if I'm just overlooking something simple.

[2022-01-14 13:03] BreakBB commented on #3308
Hey @uklesh8888 can you share a screenshot to clearify your issue?

[2022-01-14 16:56] uklesh8888 commented on #3308
![WoWScrnShot_011422_115308](https://user-images.githubusercontent.com/97708174/149554300-10334e21-d9e0-44c6-b3e9-8d45ea43586c.jpg)
![WoWScrnShot_011422_115334](https://user-images.githubusercontent.com/97708174/149554329-7b128e84-4d36-4de4-9934-fabe70417778.jpg)
![WoWScrnShot_011422_115506](https://user-images.githubusercontent.com/97708174/149554344-89c07022-fa27-482b-b4f4-bc398e5598c3.jpg)

[2022-01-14 18:01] Laumesis opened #3309 "TODO: force recompile DB at game change between TBC/Vanilla"
Seems some players copy the addon and savedvariables as is from client to client and DB retains old client data for wrong game version.
We should save expansion into saved variables and force recompile DB when login with different one  (BCC vs. Era/SoM).

[2022-01-15 17:24] tap3ah opened #3310 "missing quest marker"
## Description
The quest "Speak with Ruga" from Torm Ragetotem in Thunder Bluff was available but no marker was shown. Character: lvl 21 Troll Warrior

## Wowhead link
https://classic.wowhead.com/quest=1823/speak-with-ruga

## Screenshots

## Questie & WoW version
v6.8.2
SoM

[2022-01-17 07:49] BreakBB commented on #2754
Hey @niem94 I would like to keep this issue open since it is a great idea to change the icon color. But currently there is not much active development done on Questie because of lack of time and man power 🙈

[2022-01-17 07:49] BreakBB commented on #3185
I experienced this myself even with the "Sticky Durability" frame option enabled. Something we need to fix

[2022-01-17 13:52] niem94 commented on #2754
Thanks! I am not currently playing myself, but I will refrain from closing it again now I know it has value ;-)

[2022-01-19 00:21] MyTechnoHunter opened #3311 "missing quest"
## Description
Hello, Questie seems to be missing the new incubus quest chain. I received the following error.
Questie: [ERROR] The quest 65610 is missing from Questie's database, Please report this on GitHub or Discord!
TechnoHunter — Today at 4:13 PM
just to make sure, what version of questie are you running?
@Daestra
Daestra — Today at 4:14 PM
Questie-v6.8.2.zip
@TechnoHunter
TechnoHunter — Tod

[2022-01-19 12:50] patakaut opened #3312 "Missing quest"
## Description

## Wowhead link

## Screenshots

## Questie & WoW version

![questie](https://user-images.githubusercontent.com/98029526/150134081-f4b8613a-2fb5-4014-9f65-4ad48e2d9322.PNG)

[2022-01-19 17:58] Laumesis opened #3313 "Classic Era/SoM DB is missing reputation rewards."
Classic (Era/SoM) DB is missing reputation rewards. TBC DB has those fine.

[2022-01-19 18:03] Laumesis opened #3314 "Call of Earth (1518)(1521)"
Horde shaman totem quest has two versions. Those aren't marked exclusive(?) in Questie DB, so another keeps showing available on map forever even it is not available after player completes one. Issue reported on discord.

https://tbc.wowhead.com/quest=1518/call-of-earth

https://tbc.wowhead.com/quest=1521/call-of-earth

v6.8.2
TBC
Most likely issue is also on classic DB.

[2022-01-20 19:27] Laumesis opened #3315 "Show tracker header even 0 quests are tracked."
Show tracker header even 0 quests are tracked.

[2022-01-20 19:50] zeracool2k opened #3316 "TBC Classic - Missing quest"
**Missing quest** found on TBC Classic (official), using Questie v6.8.2.

There is a quest called "Wish You Were Here" given as part of the Warlock summon line; as soon as you get it it doesn't show up in the quick list, points to no objectives, and prints an error message in chat.

![WoWScrnShot_012022_164320](https://user-images.githubusercontent.com/31496479/150411672-ac47df7d-4ed9-406b-85d7-9a

[2022-01-21 05:08] daveg717 opened #3317 "BCC - Missing quest 65593 "Hearts of the Lovers""
## Description
Warlock quest 65593 shows a Missing quest error

## Wowhead link
https://tbc.wowhead.com/quest=65593/hearts-of-the-lovers

## Screenshots
![IMG_20220120_232625](https://user-images.githubusercontent.com/26509992/150469423-a5e29e78-8400-464c-be02-3a96148445d5.jpg)
![IMG_20220120_232520](https://user-images.githubusercontent.com/26509992/150469431-82917a7b-eaf9-46d4-ae26-fce1b94617c8.

[2022-01-21 17:12] lotharschaberg opened #3318 "Quest 65510 is missing"
## Description
 Quest 65510 is missing in Questie (german title: "Liebe kann schmerzhaft sein")

## Wowhead link
 Quest link not available - seems to be a new quest from TBC 2.5.3

## Screenshots

## Questie & WoW version

[2022-01-21 17:14] lotharschaberg commented on #3318
Correction: german quest title belongs to the also missing quest 65501.

[2022-01-21 17:15] lotharschaberg opened #3319 "Quest 65601 is missing"
## Description
Quest 65501 is missing in Questie (german title: "Liebe kann schmerzhaft sein")

## Wowhead link
Quest link not available - seems to be a new quest from TBC 2.5.3

## Screenshots

## Questie & WoW version

[2022-01-22 11:48] #3311 closed

[2022-01-22 11:48] #3312 closed

[2022-01-22 11:48] #3319 closed

[2022-01-22 12:31] #3142 closed

[2022-01-22 14:00] BreakBB commented on #3317
Fixed with 14611a7ad86a7128dc318395c293200858c4edab and will be included in the next release. Thanks for reporting this @daveg717

[2022-01-22 14:00] #3317 closed

[2022-01-22 16:07] vLGrok opened #3323 "Questie missing quest 65602"
Questie: [ERROR] The quest 65602 is missing from Questie's database, Please report this on GitHub or Discord!

[2022-01-22 16:08] vLGrok commented on #3323
Questie v 6.8.2
TBC Burning Crusade Classic
Level 31 Warlock picked up quest Questie didn't know about.

[2022-01-22 17:11] BreakBB commented on #3310
Hey @tap3ah thanks for reporting this. The database indeed only had one of the three possible starting NPCs listed 👍🏻

[2022-01-22 17:12] #3310 closed

[2022-01-22 17:14] BreakBB commented on #3308
Hey @uklesh8888 sorry for the late response. Could you try to recompile the database?

`/questie` -> Advanced -> Recompile database

This is indeed very strange 🤔 If that does not help could you share a screenshot of your "General" settings? Does the minimap icon of Questie also shows v6.8.2?

[2022-01-22 17:15] BreakBB commented on #3323
Fixed with 14611a7ad86a7128dc318395c293200858c4edab and will be included in the next release.

[2022-01-22 17:15] #3323 closed

[2022-01-22 20:49] xuwol opened #3325 "lost minimap icon, /questie doesn't work"
accidentally got rid of the questie icon on my minimap and now i can't config because /questie doesn't pull up anything either. tried /reload and uninstalling/reinstalling; still no icon :/

[2022-01-22 23:11] BreakBB commented on #3325
Hey @xuwol

If `/questie` does not open up the settings, it is not loaded correctly. Press Escape, select Addons and check the "Load outdated addons" checkbox in the upper right. The next release will update Questie to be "up to date", don't worry it works as it is already.

[2022-01-23 06:05] xuwol commented on #3325
hey there! i already had it checked.. so i dissabled it and re-enabled it just to see if that would work and unfortuantely it didn't

[2022-01-23 07:42] BreakBB commented on #3325
Can you share a screenshot of your ingame Addons list? Questie should be one of the last spots in the list.

[2022-01-23 09:37] xuwol commented on #3325
here you go! [Capture](https://user-images.githubusercontent.com/98236699/150672653-64103b2f-d139-4bb6-a6bb-94a3f9fedd5e.PNG)

[2022-01-23 10:48] Muehe commented on #3325
Based on your location that screenshot is from Shadowlands, Questie only works for Classic and TBC.

[2022-01-23 10:59] BreakBB commented on #3325
Exactly what Muehe says @xuwol There is no improvement Questie can bring since the retails questing system is far superior.

[2022-01-23 10:59] #3325 closed

[2022-01-23 15:28] hzleyz opened #3327 "Missing Quest 65603, TBC Alliance Warlock"
## Bug description

## Screenshots

## Questie & WoW version

![Screenshot (2)](https://user-images.githubusercontent.com/98272098/150685693-d9ef7e01-a56f-45af-8558-51a03ff35ec5.png)
![Screenshot (1)](https://user-images.githubusercontent.com/98272098/150685694-04164783-baa3-4e99-bdaa-928d66a41861.png)

Questie 6.8.2

I started the campaign quest "What is Love?" Alliance Warlock I believe in Storm

[2022-01-23 20:02] BreakBB commented on #3327
This has been fixed with 14611a7ad86a7128dc318395c293200858c4edab which will be included in the next release. Thanks for the report @hzleyz 👍🏻

[2022-01-23 20:02] #3327 closed

[2022-01-25 00:28] Krutonax opened #3330 "quest 65601 is missing from questie's database."
## Description

## Wowhead link

## Screenshots

## Questie & WoW version
 TBC

[2022-01-25 02:46] drejjmit commented on #3330
Thanks for the report.
Fixed with 14611a7ad86a7128dc318395c293200858c4edab and will be included in next release.

[2022-01-25 02:46] #3330 closed

[2022-01-25 06:44] salkrit opened #3331 "65602 is not in the DB"
## Bug description
Quest 65602 is not found in the DB

## Screenshots
![image](https://user-images.githubusercontent.com/19415649/150924635-4c9068c0-e0e7-45c4-a48f-80aacedf580d.png)

## Questie & WoW version
Questie-v6.8.2.zip

[2022-01-25 07:00] #3315 closed

[2022-01-25 08:57] drejjmit commented on #3331
Thanks for the report.
Fixed with 14611a7ad86a7128dc318395c293200858c4edab and will be included in next release.

[2022-01-25 08:57] #3331 closed

[2022-01-25 17:30] #3314 closed

[2022-01-26 02:09] balsh commented on #2801
happens to me on SOM

[2022-01-26 06:01] BreakBB commented on #2801
Hey @balsh did you go through the comments above and tried to disable all other addons or disable the Tracker?

If none of it helped we need you to run the Profiler and report the outcome to us.

[2022-01-26 21:37] nikitamarchenko opened #3333 "missing warloc quest Love Hurts #65601"
## Description

Missing quest Series "Love Hurts"

## Wowhead link

https://tbc.wowhead.com/quest=65601/love-hurts

## Questie & WoW version

TBC v2.5.3 build 41812 Questie v6.8.2

[2022-01-26 21:37] nikitamarchenko commented on #3333
nice id btw

[2022-01-27 05:57] BreakBB commented on #3333
Hey @nikitamarchenko nice ID indeed 😁

This issue is already fixed by 14611a7ad86a7128dc318395c293200858c4edab and will be in the next release (which will be online later today). Thanks for reporting 👍🏻

[2022-01-27 05:57] #3333 closed

[2022-01-27 17:20] #3235 closed

[2022-01-29 15:10] stempst0r opened #3334 "Classic SoM: Quest 5678 is missing"
## Description
WoW Classic SoM:
As lvl 20 Human Priest I accepted a priest-q in Darnassus and the following was shown in Chat-Window:

 Questie: [ERROR] The quest 5678 is missing from Questie's database, Please report this on GitHub or Discord!

So here I'm reporting the quest. I had the latest version of Questie installed the time of writing htis

## Wowhead link
[https://classic.wowhead.com/ques

[2022-01-29 18:49] Feper24 commented on #2801
This is currently happening to me right now, through much trouble I figured it was Questie and not just randomly, I thought it was BGs or something but realized the stutter began after handing in the PVP Daily quest.

[2022-01-29 19:11] BreakBB commented on #2801
Hey @Feper24 can you run the Profiler and did you also try to disable all other addons and try with just Questie?

[2022-01-29 19:19] Feper24 commented on #2801
Hi, yes, I think these all the culprits:

![image](https://user-images.githubusercontent.com/60163442/151674587-bf36e62a-84ab-4642-ad16-8fd81b103c09.png)

[2022-01-29 19:26] BreakBB commented on #2801
That helps a lot @Feper24 thanks! 👍🏻

[2022-01-29 20:03] Feper24 commented on #2801
One thing though, this is not instant. Kinda accumulates through BGs. If you do the biggest one, AV, its faster (in 2 quest turn ins or games im already stuttering). With smaller ones it takes longer.

[2022-01-31 08:37] dennisknudsen18 opened #3339 "TBC Lunar Festival 2022: Elder quests 'hidden by questie'"
## Description
The Lunar festival is ongoing now, but the quests are not shown because they are 'hidden by questie'
If I go to an elder, the quest appears in the minimap - guess that's wow doing that.

## Wowhead link
None I guess.

## Screenshots
Advanced search for the quest:
![image](https://user-images.githubusercontent.com/17129670/151762047-e8fe01c1-c228-4e4c-b715-4592af4f2413.png)

## Quest

[2022-01-31 10:20] dennisknudsen18 commented on #3339
Dates from https://www.wowhead.com/lunar-festival-guide

Modifying QuestieEvent.lua:
From
    ["22"] = {startDate = "1/2", endDate = "15/2"},
to
    ["22"] = {startDate = "31/1", endDate = "15/2"},

made the quests turn up, albeit as grey icons.

Tried to modify init of QuestieEvent.eventDateCorrections to reflect the dates but that didn't change the grey color.

[2022-02-01 12:42] balsh commented on #2801
@BreakBB disabling the tracker kinda fixes the issue for me

[2022-02-01 13:30] BreakBB commented on #2801
Hey @balsh can you share a screenshot of your Tracker settings? We already know the Tracker has serious performance problems, but we are very limited in time to tackle this issue atm 🙈

[2022-02-01 15:26] Feper24 commented on #2801
Gonna try to do this too, I also found out part of the "stutter" blame was form TSM addon but still gonna keep testing!

[2022-02-03 06:45] BreakBB commented on #3334
Hey @stempst0r thanks for the report. This quest is missing indeed. Wonder when Blizzard added it 🤔 The fix will be easy

[2022-02-03 07:38] Jakobud commented on #3257
So I leveled another alt and paid close attention to this when I got here. My original observations held true:

The Tomb of Lights and The Vengeful Harbringer are not available until I completed Missing Friends.

I did not accept or complete any of these yet:

- Taken in the Night
- The Dread Relic
- An Improper Burial
- For the Fallen
- Digging Through Bones
- Fumping
- A Hero is Needed
- The Fal

[2022-02-03 09:19] BreakBB commented on #3257
Hey @Jakobud thanks for coming back to bring more detail to this. As explained above I did the "Fallen Exarch" quest chain before Missing Friends which opened up the two quests in question. So everything should be working as intended now :+1:

[2022-02-03 17:04] Jakobud commented on #3257
Strange. So are those 2 quests being available dependent on either Missing Friends OR Fallen Exarch being completed?

[2022-02-03 22:00] BreakBB commented on #3257
Correct, that is what the commit changed which closed this ticket :+1:

[2022-02-04 07:36] tylerbrown47 opened #3341 "Auto-Complete bugged"
## Bug description

Auto-Complete turning in Concerted Efforts quest even though it is disabled.  /Reload fixes this problem temporarily.  Seems to reactivate after every BG.

## Screenshots

## Questie & WoW version

Questiev6.8.3
TBC

[2022-02-06 07:43] donaldmonroe opened #3342 "Missing quest"
Quest accepted: Hearts of the Lovers
Questie: [ERROR] The quest 65593 is missing from Questie's database,
     Please report this on GitHub or Discord!

[2022-02-07 09:42] Iowerth opened #3343 "Word wrap for long texts (or another solution)"
Hi. There is a problem with long texts - you can't see full description and numbers:
![unknown1](https://user-images.githubusercontent.com/10152411/152763330-905dc656-9fda-443d-871f-2e325a52c5d9.png)
Word wrap can do another addon. See red selection on screenshot. If you can't do this, maybe it is possible to align numbers left? See green selection:
![unknown2](https://user-images.githubuserconten

[2022-02-07 14:37] IAmChills opened #3344 "Filter by Reputation Reward"
## Description
As mentioned in Discord (tbc-general chat) I suggested the feature of implementing a filter by reputation gained (faction). After looking at the tbcQuestDB.lua it appears the reputation reward is a parameter towards the end, and the data already exists within the AddOn so it just needs provoked. This would be an amazing feature to be able to focus down on a reputation and ensure you

[2022-02-09 19:21] infinitifire opened #3345 "Missing quest from Questie's database 65593"
## Description
 The quest 65593 is missing from Questies's database, Please report this on Github or Discord!

## Wowhead link

## Screenshots

## Questie & WoW version
 Classic Era/SoM

[2022-02-11 10:21] Laumesis commented on #3291
@lewisam69
Hey. Do you still have this issue?
Did you test having only Questie and Leatrix Plus addons enabled to confirm it is conflict between these too?
If things work with these only these two enabled together: Could you try again re-enabling your other addons slowly in addition to these two so you could see which one breaks things?

[2022-02-11 10:22] Laumesis commented on #3308
There is something wrong in these screenshots: There are two `Hide Questie` buttons.
Could you try disable other addons?

[2022-02-11 15:29] lewisam69 commented on #3291
Hello,No it is resolved since the update of addons.Thanks to you
    On Friday, 11 February 2022, 11:20:20 CET, Laume ***@***.***> wrote:

@lewisam69
Hey. Do you still have this issue?
Did you test having only Questie and Leatrix Plus addons enabled to confirm it is conflict between these too?
If things work with these only these two enabled together: Could you try again re-enabling your other add

[2022-02-11 15:48] #3291 closed

[2022-02-11 16:44] Laumesis commented on #3339
Dates are corrected in v6.8.4 for year 2022.

Our DB (corrections) have wrong quest level for Elder Quests in TBC.
On TBC quest level for elder collection quests should be `-1`, and on Era/SoM `60`.

[2022-02-11 16:47] Laumesis commented on #3300
#3111

[2022-02-11 17:02] Laumesis commented on #3254
I have slight feeling this might somehow happen sometimes after a disconnect. It shouldn't by any logic, but and I have not confirmed it happening after disconnect from server, just a feeling

[2022-02-13 19:00] cersi93 opened #3348 ""Active Quests" Tracker always showing even without following any quests"
Hi,

the header for "active quests" is always showing, even if I do not follow any quests at this moment.
How do I fix this?
Already re-installed and deleted WTF/cache folder.

Thanks for help!

[2022-02-14 09:48] BreakBB commented on #3348
This change was done on purpose @cersi93

If you want to hide the Tracker use the "Disable Tracker" option.

[2022-02-14 09:48] #3348 closed

[2022-02-15 04:47] Gogo1951 opened #3349 "Questie should NOT Auto-complete Mount Hyjal Ring Quests"
There are 2 NPCs that can start the quests.

They should have all auto-complete interactions turned off.

This is a major issue impacting all raiders. Questie stuck me with the wrong kind of ring and it'll be a few weeks before I can switch.

https://tbc.wowhead.com/npc=19935/soridormi

https://tbc.wowhead.com/npc=19936/arazmodu

[2022-02-15 04:49] Gogo1951 opened #3350 "Quest Completion Point Missing for Kael'thas and the Verdant Sphere is Missing"
Quest Completion for

https://tbc.wowhead.com/item=32405/verdant-sphere

https://tbc.wowhead.com/quest=11007/kaelthas-and-the-verdant-sphere

[2022-02-15 06:02] #3349 closed

[2022-02-15 06:06] BreakBB commented on #3350
I can't find an issue in our database for this 🤔 Hand in is at A'dal which is in the center of Shattrat.

[2022-02-15 06:07] BreakBB commented on #3308
Yeah you are right Laume @uklesh8888 can you make sure you are running only one version of Questie?

[2022-02-17 01:12] Gogo1951 commented on #3350
Is there something where Questie is disabled form plotting new destination points while you are in a raid, or when you leave a raid?

[2022-02-19 15:23] alexanderchekanov opened #3354 "Deviate Hides quest (ID 1486) is not visible to Alliance"
## Description

The quest 1486 Deviate Hides (collect items from Wailing Coverns mobs), is not shown in Questie for Alliance, while it is in fact available and should be visible. Its sister quest 1487 (kill the same mobs) is displayed correctly.

The solution would be to remove the race restriction on this quest.

## Wowhead link

https://tbc.wowhead.com/quest=1486/deviate-hides

## Screenshots

!

[2022-02-20 08:18] Arccai opened #3355 "Arcane Refreshment (7463)"
**Misplaced in the Journey feature.**

**Arcane Refreshment** (7463)
This is a "Mage" quest,
but appears in Dungeons > **Dire Maul** Section

Placed in Dire Maul section.
Should be placed in Mage section.

https://classic.wowhead.com/quest=7463/arcane-refreshment

[2022-02-20 08:22] #3339 closed

[2022-02-20 08:24] Arccai opened #3356 "Shards of the Felvine (5526)"
**Misplaced in the Journey feature.**

**Shards of the Felvine** (5526)
This is a "Dungeon > Dire Maul" quest,
but appears in Moonglade Section

Placed in Moonglade section.
Should be placed in Dire Maul section.

https://classic.wowhead.com/quest=5526/shards-of-the-felvine

[2022-02-20 08:57] BreakBB commented on #3289
I can't find any issue in our database for this. The quest has the correct level requirements, no pre quest and the starting NPC has the correct spawns. I'll write this off as desync issue which will be fixed once #3111 is finally merged.

[2022-02-20 08:57] #3289 closed

[2022-02-20 09:00] #3334 closed

[2022-02-20 09:00] #3354 closed

[2022-02-20 09:00] #3355 closed

[2022-02-20 09:00] #3356 closed

[2022-02-20 09:00] #3283 closed

[2022-02-20 09:00] #3292 closed

[2022-02-20 09:00] BreakBB commented on #3345
Fixed with 9fcc9741e7fa10a3117e45494b3448fc38b079af

[2022-02-20 09:00] #3345 closed

[2022-02-20 09:00] BreakBB commented on #3342
Fixed with 9fcc9741e7fa10a3117e45494b3448fc38b079af

[2022-02-20 09:00] #3342 closed

[2022-02-20 16:56] RichCarpenter opened #3357 "Wish You Were Here [Quest 65610] is missing from Questie's database"
Part of the warlock level 20 spell quest line in Orgrimmar.

[2022-02-20 16:58] BreakBB commented on #3357
Go ahead and update to the latest Questie version @RichCarpenter which was released today 👍🏻

[2022-02-20 16:58] #3357 closed

[2022-02-21 08:13] Arccai opened #3360 "In Search of Thaelrid (1198)"
**Misplaced in the Journey feature.**

**In Search of Thaelrid** (1198)
This is an "Breadcrumb / Alliance" quest,
but appears for Horde.

**Shouldn't exists for hordes.**

[Wowhead Link](https://classic.wowhead.com/quest=1198/in-search-of-thaelrid)

[2022-02-21 12:36] BreakBB commented on #3360
The issue #3292 shows that it is also available for Horde.

[2022-02-21 12:36] #3360 closed

[2022-02-22 09:57] Gogo1951 opened #3362 "Please make auto-turn-in default to the bigger quests"
It should try and turn in the 10x marks before the 1x marks.

![image](https://user-images.githubusercontent.com/55365231/155108181-5a71acf2-3267-4cdb-aa2f-87a0bb9fe009.png)

[2022-02-22 10:09] Gogo1951 commented on #3362
#2508 - was one of the requests from an old feature as well. Not sure if any of that code was still usable.

[2022-02-28 02:43] Raggydesune opened #3363 "Questie v6.8.5 Tracker bug"
## Bug description

When game launched, tracker was too far to the right so that I couldn't read anything on it. After resetting its position, it won't move from the center of my screen. With any combo of header, background, and/or frame it won't move even if I use ctrl+hold or regular hold (tried other combinations of ctrl, alt, and shift to no avail). Can't find anything in settings to help or u

[2022-02-28 08:03] BreakBB commented on #3363
Hey @Raggydesune there is a right click menu on the Tracker which has a lock/unlock functionality. Did you check that?

[2022-02-28 18:07] Raggydesune commented on #3363
The only right click menu that pops up for me is the Journey screen

On Mon, Feb 28, 2022 at 3:03 AM Björn Böing ***@***.***>
wrote:

[2022-02-28 20:24] BreakBB commented on #3363
@Raggydesune What I mean is right clicking a quest on the Tracker which brings up this window:

![grafik](https://user-images.githubusercontent.com/33514570/156053435-f766721f-6286-4dbf-ba9a-9a4f43558586.png)

[2022-02-28 20:32] Raggydesune commented on #3363
That seems to have fixed the issue of moving it. Thank you.

On Mon, Feb 28, 2022 at 3:24 PM Björn Böing ***@***.***>
wrote:

[2022-02-28 21:49] Gogo1951 opened #3364 "Fresh from the Mechanar missing objective on map"
![image](https://user-images.githubusercontent.com/55365231/156064274-3da6ee2e-e325-4648-b6c6-d49b23a6af82.png)

https://tbc.wowhead.com/quest=10665/fresh-from-the-mechanar

[2022-03-01 06:16] #3363 closed

[2022-03-01 06:21] #3364 closed

[2022-03-01 06:23] BreakBB commented on #3350
I don't fully remember what the current behaviour is, but in the past Questie was fully disabled while in a raid instance. IIrc Questie is now not fully disabled but also does not draw new markers when inside an raid instance. After leaving it the icons _should_ be drawn 🤔

[2022-03-01 13:56] Guestenye opened #3365 ""The Black Shield" (1322) quest marks incorrect mobs as objectives (TBC)"
"The Black Shield" (1322) quest in Dustwallow Marsh marks the incorrect mobs as objectives - only Darkmist spiders drop the required items, Darkfang spiders do not, but the later ones are also marked as objective.

https://tbc.wowhead.com/quest=1322/the-black-shield

TBCC
Questie v6.8.5

[2022-03-01 13:59] BreakBB commented on #3365
Hey @Guestenye iirc this was changed with TBC. In Classic this was indeed different, but wowhead also shows the drop rates of Darkfang spiders https://tbc.wowhead.com/item=5959/acidic-venom-sac

[2022-03-01 16:04] Gogo1951 commented on #3350
With Mag's head, it showed me right away. Even when I was in raid. With the KT item, it didn't show until I reloaded the UI. Dunno what the root cause is, just weird behavior. You can close this, just keep an eye out for future bugs around this stuff.

[2022-03-01 16:04] #3350 closed

[2022-03-01 19:58] Gogo1951 opened #3366 "[[68] Auchindoun... (10167)] - Turn In Location Missing on Map"
Turns in to mob that spawns in the dungeon.

https://tbc.wowhead.com/quest=10167/auchindoun

https://tbc.wowhead.com/npc=19412/dore

[2022-03-01 23:01] Gogo1951 opened #3367 "Dungeon Objectives Missing for Variety of Common Raid / Heroic Quests"
https://tbc.wowhead.com/quest=10885/trial-of-the-naaru-strength

https://tbc.wowhead.com/quest=10884/trial-of-the-naaru-mercy

https://tbc.wowhead.com/quest=10886/trial-of-the-naaru-tenacity

https://tbc.wowhead.com/quest=10901/the-cudgel-of-kardesh

[2022-03-03 06:04] BreakBB commented on #3367
I couldn't find any issues about "The Cudgel of Kardesh". The required items are correctly linked to the NPCs which have the spawn in their raids and also the quest NPC has the correct spawn location.

[2022-03-03 06:04] #3366 closed

[2022-03-03 12:22] MimmiLand commented on #3300
I have the same issue these days, I think it might not work well with "NDui(core) Classic" but that is just a guess. I don't really want to swap out the UI so I'll just keep recompiling the database when I need to find something. The most annoying thing is that it seems to track quests I'm not on though.

[2022-03-04 01:12] Gogo1951 opened #3368 "New Questie Reset Questie Settings"
@BreakBB

Installing the new Questie from Curseforge reset all my tracker fonts, filters around which quests to display, and auto-complete toggles. Location of tracker wasn't reset, but that was the only setting I can see that wasn't defaulted.

[2022-03-04 06:04] BreakBB commented on #3368
The latest release had no changes except for data corrections as you can see [here](https://github.com/Questie/Questie/compare/v6.8.5...v6.8.6).

Could be your addon manager, WoW not saving settings or something like that, but nothing Questie did, sorry.

[2022-03-04 06:04] #3368 closed

[2022-03-04 08:16] Arccai opened #3369 "The Twilight Mystery (8284)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8284/the-twilight-mystery

[2022-03-04 08:16] Arccai opened #3370 "Dearest Natalia (8304)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8304/dearest-natalia

[2022-03-04 08:16] Arccai opened #3371 "Securing the Supply Lines (8280)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8280/securing-the-supply-lines

[2022-03-04 08:16] Arccai opened #3372 "Deadly Desert Venom (8277)"
Unavailable / Doesn't exist yet as of this phase.

[https://classic.wowhead.com/quest=8277/deadly-desert-venom](url)

[2022-03-04 08:16] Arccai opened #3373 "Wanted - Deathclasp, Terror of the Sands (8283)"
Unavailable / Doesn't exist yet as of this phase.

[https://classic.wowhead.com/quest=8283/wanted-deathclasp-terror-of-the-sands](url)

[2022-03-04 08:16] Arccai opened #3374 "Twilight Geolords (8320)"
Unavailable / Doesn't exist yet as of this phase.

[https://classic.wowhead.com/quest=8320/twilight-geolords](url)

[2022-03-04 08:16] Arccai opened #3375 "Abyssal Contacts (8361)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8361/abyssal-contacts

[2022-03-04 08:16] Arccai opened #3376 "Secret Communication (8318)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8318/secret-communication

[2022-03-04 08:16] Arccai opened #3377 "Taking Back Silithus (8276)"
Unavailable / Doesn't exist yet as of this phase.

https://classic.wowhead.com/quest=8276/taking-back-silithus

[2022-03-04 09:08] Gogo1951 commented on #3368
Please double check the code that got uploaded to Curseforge. Sometimes the builds are jacked. Seen it on a few other add-ons recently.

[2022-03-04 09:09] Gogo1951 commented on #3367
Looks good in new build!

[2022-03-04 09:09] #3367 closed

[2022-03-09 02:53] anodosian opened #3379 "Missing objective data for Warlock Quest "Hearts of the Lovers""
## Bug description

Warlock Quest "Hearts of the Lovers"  Quest ID 65593, as Undead, throws the following errors:

[ERROR] Missing objective data for quest 65593 and objective Issac's Heart
[ERROR] Missing objective data for monster ' table: 000002CCD167B240 ' 54261

## Screenshots

![Hearts of the Lovers - ERROR](https://user-images.githubusercontent.com/20913886/157363110-e488ddb0-0d60-477d-b26a

[2022-03-13 06:13] Cerelion opened #3380 "Quest: Blood Crystals [QID:9566] Error"
The Burning Crusade Classic
Quest Blood Crystals (9566)
Azuremyst Isle
Once quest is turned it, journal registers it as abandoned and still shows on the minimap as available.

[2022-03-13 07:43] BreakBB commented on #3380
That is caused by the so called "desync issue". We are working on for fix for quite a while.

A simple `/reload` should remove the icon from the minimap.

[2022-03-14 19:09] BreakBB opened #3381 "Love Hurts prequest missing"
## Description

The quest "Love Hurts (65601)" has the pre quest "Devourer of Souls (1507)".

## Wowhead link

## Screenshots

## Questie & WoW version

v6.8.6 TBC

[2022-03-14 19:11] BreakBB opened #3382 "Blind Cazul pre quest missing"
## Description

The quest "Blind Cazul (1508)" is not showing up on the map. It was unlocked after completing "Devourer of Souls (1507)". On a Warlock in OG at level 23.

## Wowhead link

## Screenshots

## Questie & WoW version

v6.8.6 TBC

[2022-03-14 19:50] BreakBB opened #3383 "QueryQuestSingle can not handle five digit questIds"
## Bug description

The result of `/dump QuestieDB.QueryQuestSingle(65610, "preQuestSingle")` is `{[1]=65}` instead of `{[1]=65601}` which results in issues about quests not showing up even though they should. Five digit questIds were added a while ago.

## Screenshots

![grafik](https://user-images.githubusercontent.com/33514570/158249790-325ce93f-cf3d-40e8-b7af-20d923b454f7.png)

## Questie & Wo

[2022-03-14 20:08] #3382 closed

[2022-03-19 19:42] Gogo1951 opened #3384 "Two SH Quests don't show objectives on map / in dungeon."
Two SH Quests don't show objectives on map / in dungeon.

[[70] Kalynna's Request (9637)]
[[70] Tear of the Earthmother (10670)]

[2022-03-21 18:10] Gogo1951 opened #3385 "Most Heroic Daily Quests are Missing Objective Locations"
Missing objective location on map.

[[70] Wanted: The Exarch's Soul Gem (11374)]

[2022-03-23 12:18] Cerby3BR opened #3386 "Imprisoned in the Citadel not in the game"
Like the title says, the quest [Imprisoned in the Citadel] appears to not be in the game. No matter how many times I did ShH, Drisella never had it, and the wowhead article doesn't list associated npcs, suggesting it was never fully implemented.

https://tbc.wowhead.com/quest=9524/imprisoned-in-the-citadel (Alliance)
https://tbc.wowhead.com/quest=9525/imprisoned-in-the-citadel (Horde)

Version 2.5

[2022-03-24 22:39] raethkcj opened #3387 "[TBC Classic] [Promises, Promises...] quest throws a lua error when accepted"
## Description
When you accept [Promises, Promises...] Questie throws an error in the chat frame:

[code]
## Wowhead link

https://tbc.wowhead.com/quest=11132/promises-promises

## Questie & WoW version
Questie v6.8.6
WoW Classic TBC 2.5.4.42873

[2022-03-25 05:52] Gogo1951 commented on #3385
A lot of the heroic & normal dailies are missing.

[2022-03-25 07:38] Jakobud commented on #3387
Also similar errors for the follow up quest `X Marks ... Your Doom!`

[2022-03-25 10:50] gerinamoo opened #3388 "Zul Aman quest: X Marks... Your Doom!"
Version 6.8.6

Getting the attached error on this quest
![Questie2](https://user-images.githubusercontent.com/71583837/160107276-91ccf2d9-acd8-4764-a109-94300a5a6ada.jpg)
![Questie1](https://user-images.githubusercontent.com/71583837/160107278-f07a11a9-eed9-4439-8fad-3b0b9de1e89f.jpg)
.

[2022-03-25 17:34] Cerby3BR commented on #3386
It appears to have been put in the game with P4.

[2022-03-25 22:10] jao opened #3389 "[TBC classic] Quest "Tuskin' Raiders" gives lua errors on acceptance, and everytime you load into a new zone"
## Description

After getting the quest, and everytime I log back in I get this error:
[code]

## Wowhead link

https://tbc.wowhead.com/quest=11164/tuskin-raiders

## Questie & WoW version

Questie v6.8.6
TBC client after Zul'Aman patch

[2022-03-26 07:10] BreakBB commented on #3387
Yeah, I noticed this myself but didn't have the time yet to fix it. Thanks for opening the issue, I will get it fixed next week

[2022-03-26 23:11] Gogo1951 opened #3390 "[[70] Seer Udalo (10705)] - Missing Turn In Location"
[[70] Seer Udalo (10705)] - Missing Turn In Location

[2022-03-27 08:34] jecowa opened #3391 "Highperch Venom"
## Description

On the Highperch Venom quest, the questgiver was moved from Theramore to Darkshore with the release of The Burning Crusade, but Questie still shows this quest in the Theramore section of My Journey instead of the Darkshore section. She stands on the docks of Darkshore, if you are trying to verify her location.

## Wowhead link

quest link: https://tbc.wowhead.com/quest=1135/highper

[2022-03-27 11:52] erounsavall commented on #3388
Getting the same error, same version

[2022-03-27 14:55] Cabro commented on #3389
Add in Questie\Database\Zones\zoneTables.lua line 197:

    [3805] = {{3433, 82.1, 64.2}},

[2022-03-27 16:21] Cabro commented on #3387
Add in Questie\Database\Zones\zoneTables.lua line 197:

    [3805] = {{3433, 82.2, 64.2}},

[2022-03-27 16:21] Cabro commented on #3388
Add in Questie\Database\Zones\zoneTables.lua line 197:

    [3805] = {{3433, 82.2, 64.2}},

[2022-03-28 00:34] gerinamoo commented on #3388
Confirmed working.  Thanks!

[2022-03-28 00:34] #3388 closed

[2022-03-28 17:46] Muehe commented on #3387
Fixed in 7f1b5677ae4c31f3636b6b1f7c92a8b3a318bae2

Release will be uploaded shortly™.

[2022-03-28 17:46] #3387 closed

[2022-03-28 17:46] Muehe commented on #3389
Fixed in 7f1b5677ae4c31f3636b6b1f7c92a8b3a318bae2

Release will be uploaded shortly™.

[2022-03-28 17:46] #3389 closed

[2022-03-28 17:48] #3383 closed

[2022-03-28 18:44] #3386 closed

[2022-03-28 20:19] #3369 closed

[2022-03-28 20:19] #3370 closed

[2022-03-28 20:19] #3371 closed

[2022-03-28 20:19] #3375 closed

[2022-03-28 20:19] #3376 closed

[2022-03-28 20:19] #3377 closed

[2022-03-28 20:23] #3391 closed

[2022-03-28 20:28] #3280 closed

[2022-03-28 20:28] BreakBB commented on #3380
Will be fixed with #3111

[2022-03-28 20:28] #3380 closed

[2022-03-29 10:30] Thalur opened #3395 "Errors after accepting Zul'Aman Quest (TBCC)"
The following errors occurred after accepting the quest, and are re-occurring when zoning:

[code]

[2022-03-29 10:36] BreakBB commented on #3395
Hey @Thalur there was just a release of v6.8.7 which fixes exactly this issue. Feel free to update to the latest version and report if that fixes this issue 👍🏻

[2022-03-29 10:48] Thalur commented on #3395
Awesome, thanks! Yes the issue does not occur any more.

[2022-03-29 12:31] BreakBB commented on #3395
Perfect, thanks for verifying @Thalur 👍🏻

[2022-03-29 18:28] gouletr opened #3396 "When is it safe to call QuestieDB.QueryQuestSingle(questId, "requiredRaces") ?"
## Question
I am developing an addon which uses Questie as its database for items, quests, npcs, etc. I noticed that _sometimes_, results returned from the QuestieDB can be invalid (or not ready?).

I have experienced different results when calling this early in my addon:
[code]
Create a character that is not a warrior, for this specific quest it should always return false, but its not _always_ re

[2022-03-31 11:27] Feronas opened #3397 "Quest: Heart of the Lovers - Missing Objective Data Error"
![questie error](https://user-images.githubusercontent.com/65334149/161044838-ae0d21cf-fe40-49b3-822b-1ab411b51f22.jpg)

[2022-04-01 17:45] Dedalios opened #3399 "New Bug 2022-04-01 when opengame"
[questi1.txt](https://github.com/Questie/Questie/files/8399913/questi1.txt)
[questi2.txt](https://github.com/Questie/Questie/files/8399914/questi2.txt)
[questi3.txt](https://github.com/Questie/Questie/files/8399915/questi3.txt)
[questi4 (2).txt](https://github.com/Questie/Questie/files/8399916/questi4.2.txt)
[Questi5.txt](https://github.com/Questie/Questie/files/8399918/Questi5.txt)
New Bug 2022-0

[2022-04-02 16:29] BreakBB commented on #3399
Hey @Dedalios does this happen on SoM, Era or TBC? And did you try to disable all addons except Questie and see if the error still occurs? Sounds like an addon incompatability

[2022-04-03 11:20] BreakBB commented on #3397
Hey @Feronas are you using the latest version of Questie? And did this happen on SoM, Era or TBC?

[2022-04-03 12:12] Feronas commented on #3397
Dear Björn,

I am using the latest version of questie, and this happened on TBC.

Kind regards

Sent from my iPhone

________________________________
From: Björn Böing ***@***.***>
Sent: Sunday, April 3, 2022 3:20:19 PM
To: Questie/Questie ***@***.***>
Cc: Feronas ***@***.***>; Mention ***@***.***>
Subject: Re: [Questie/Questie] Quest: Heart of the Lovers - Missing Objective Data Error (Issue #339

[2022-04-03 20:36] Gogo1951 opened #3401 "[[70R] The Fall of the Betrayer (10959)] missing turn in location"

[2022-04-04 19:05] BreakBB opened #3402 "Database field requiredSourceItems can not handle 6 digit numbers"
## Bug description

The result of `/dump QuestieDB.QueryQuestSingle(65604, "requiredSourceItems")` is `{[1]=59115}` instead of `{[1]=190187}` which results in an error about an unknown itemId.

## Screenshots

![grafik](https://user-images.githubusercontent.com/33514570/161614130-c085ca96-2ecf-4844-9955-12fba7cdc527.png)

## Questie & WoW version

v6.8.7

[2022-04-06 13:49] Cabro opened #3403 "The tracker doesn't resize after the update of a quest whose name exceeds the maximum existing width."
# Bug description

For example the quest that will be updated is the 2nd longest as title in the tracker window. When this quest gets completed, and the tracker adds a "(Completed)" at the end of the title, now this quest name is the longest in the tracker window, and exceeds the current width, and the tracker fails to resize itself.
This happens both when you accept or complete/fail a quest whose

[2022-04-06 13:50] Cabro opened #3404 "The tracker fails to resize itself when you track the first quest."
# Bug description

If you track your first quest, the tracker doesn't resize itself.

# Screenshots
![imgur](https://i.imgur.com/vxu3xHi.png)

# Questie & WoW version
6.8.7 TBC

# questie settings
![settings1](https://imgur.com/YduhYy6.png)
![settings2](https://imgur.com/XTTVD0l.png)

[2022-04-06 13:53] Cabro opened #3405 "Sometimes the quest objectives fail to load."
# Bug description

Sometimes the quest objectives fail to load, and you get random completion messages later for partially completed quests that are bugged in this way, when some event triggers them.

# Screenshots
![imgur](https://i.imgur.com/e4q6RU6.png)
![imgur](https://i.imgur.com/09UMuH0.png)
![imgur](https://i.imgur.com/5eeAvdp.png)

# Questie & WoW version
6.8.7 TBC

# questie settings
![se

[2022-04-06 13:55] BreakBB commented on #3405
This will be fixed with #3111 We have yet to finalize the changes we do with that PR.

[2022-04-08 06:02] kalebm90s opened #3406 "drop menus world map"
i see the message when logging in regarding the blizzard IU issue, just curious if theres a temporary fix known, or another option for questing lol , sadly enough i am a bit lost without your addon. xD always my first thought when i think what addons to use, however it started a day or so ago, and i saw no inquires since 2 days ago idk if anyone else has asked, sorry if so, hope to have yall back

[2022-04-08 06:11] kalebm90s commented on #3406
ok so, unsure if i turned it off the other day by mistake or something caused it to, but i used a button in the top right corner of world map to turn questie on and see the quest drops on world map.. sorry.

[2022-04-08 12:22] BreakBB commented on #3406
Hey @kalebm90s not sure if I understand you correctly. But the drop downs are hidden on purpose by Questie to reduce the general issues of so called "taints" which break most parts of the UI. The "taints" we are preventing this way are caused by the Blizzard UI itself, so there is not much we can do on our side except for waiting for a proper fix on Blizzards side.

Personally I never used these d

[2022-04-08 17:25] Grizz2202 opened #3408 "Persistent Questie Tracker Header"
The questie tracker header used to disappear when you would not be tracking any quests. At some point, the questie tracker header just stays there forever, whether you're tracking quests or not.

I know I can go into the settings and manually select the "Enable Header" checkbox, but who wants to do this every time i track quests? I also dont need a stupid quest tracker up when I'm raiding (im not

[2022-04-08 19:18] wheezy1749 opened #3409 "Leverage Questie for another addon - Quest NPC finder"
Hello, I was doing some digging trying to add a feature/addon to wow and leverage the Questie database to do it. Though, I'm stuck in my idea and could use some info.

First my addon idea: I often find myself looking for an NPC in a quest that is "unique" meaning it only ever has a single instance of that NPC in the world at a time. Think named mobs like Hogger. I usually either resort to /tar or

[2022-04-08 20:51] BreakBB commented on #3409
Hey there,

Sounds like an interesting idea and I am happy to help as good as I can :)

First things first. You can use the QuestieDB ingame to read NPC information like this:

 `/dump QuestieDB:GetNPC(<npcId>)` (Questie Debug setting active)

in your addon (or ingame without Debug active) you should use:

`QuestieLoader:ImportModule("QuestieDB"):GetNPC(<npcId>)`. You can also assign the value of

[2022-04-08 21:37] wheezy1749 commented on #3409
Thank you! That's a great start for me. I did think about the "only one spawn" idea and I think that should get me a large chunk of those types of "unique" mobs. However, there are "unique" mobs with multiple spawn locations that I'd like to include as well.

For example, [Miner Hackett](https://classic.wowhead.com/npc=2450/miner-hackett)

Although, it looks like even though he has multiple spawn

[2022-04-09 06:31] BreakBB commented on #3409
Hmmm yeah you are right, there are unique mobs with multiple possible spawns. Miner Hackett is one of them even though the QuestieDB is wrong at this point. Even the corrections you can find in [the Corrections folder](https://github.com/Questie/Questie/tree/master/Database/Corrections) doesn't fix this NPC right 🙈

So the "one spawn" idea will miss some NPCs.

There is also the "rank" of an NPC w

[2022-04-09 17:53] wheezy1749 commented on #3409
Could be possible to do it based on lower number of spawn locations. I may try writing a script that goes through them all checking for lower spawn numbers and see how large the list is and if its manually parse-able to just check names after that point. Thanks a lot for the input! I guess the final answer is "no there is no such property". So, for this and so I'm gonna have to be the first person

[2022-04-09 23:34] Muehe commented on #3409
Only having one spawn might be a misleading indicator though, some "unique" NPCs might have multiple possible spawns in our DB like your example from Wowhead, or now spawns at all because they are spawned by a script on Cmangos. So take it with a grain of salt. A useful one might be when you have a kill objective on a quest (i.e. type creature and no text) with objective count 1, you probably have

[2022-04-10 01:31] Feronas commented on #3397
@BreakBB Hi Björn, kind follow up, any update? thank you

[2022-04-10 11:32] BreakBB commented on #3397
I have yet to look into it, sorry @Feronas

[2022-04-10 18:59] wheezy1749 commented on #3409
Thank you. I started looking into doing that but I can't seem to figure out where I get the "count" of slain enemies or the count of items from. I decided to get all single kill and single quest item requirements and then eliminate corner cases manually. With additionally filtering the npc by level range (unique npcs will have a min_lvl == max_lvl) so that should help with a little bit more filter

[2022-04-10 20:58] BreakBB commented on #3379
Fixed with 316c15202acc7b01d3c96637854fad7f20874222

[2022-04-10 20:58] #3379 closed

[2022-04-11 05:18] BreakBB commented on #3409
You get additional information about a quest from the official Blizzard API. `C_QuestLog.GetQuestObjectives(questId)` is returns a table of the objectives which also includes the amount you need to fulfill an objective.

About the corrected database: It is not only in volatile memory, but in an unreadable format in the Saved Variables. On every Questie update or when manually recompiling the datab

[2022-04-13 11:48] #3399 closed

[2022-04-13 11:48] #3308 closed

[2022-04-13 11:52] BreakBB commented on #3396
There is a `Questie.started` parameter which becomes `true` once Questie is done loading itself. Give that one a shot.

[2022-04-13 11:55] BreakBB commented on #3408
We will tackle this with a new option to change the current behaviour (always show the Tracker header) back to how it was before (only show the Tracker header if the user has any tracked quests).

[2022-04-13 11:57] #3270 closed

[2022-04-13 13:53] Grizz2202 commented on #3408
Thank you, this is exactly what I was hoping for!

[2022-04-13 15:54] #3162 closed

[2022-04-13 15:54] #3300 closed

[2022-04-13 15:54] #3306 closed

[2022-04-13 15:54] #3405 closed

[2022-04-13 16:50] #3034 closed

[2022-04-13 16:51] BreakBB commented on #2943
Fixed with 997d1b451df8ffb2a6c5b63448c3772086296b6f

[2022-04-13 16:51] #2943 closed

[2022-04-13 19:06] Muehe opened #3411 ""Banish the Demons" missing objective markers"
## Description

Original report from [Discord Thread](https://discord.com/channels/263036731165638656/962549818067144714/962735600023248938)

The problem is that the "collection NPC" is missing, we need to create it as a correction.

## Wowhead links

https://tbc.wowhead.com/npc=23327
https://tbc.wowhead.com/quest=11026/banish-the-demons
https://tbc.wowhead.com/quest=11051/banish-more-demons

[2022-04-13 19:38] Muehe commented on #3409
Just wanted to let you know I wrote a small summary on [how to use our code](https://github.com/Questie/Questie/wiki/Module-system) the other day. Doesn't have much more info then what BreakBB said above, but it's on topic, so here it is.

Also if you are interested in getting only the data you want in the format you need, you could try to adapt our [extractor](https://github.com/Muehe/sqlua). Usi

[2022-04-13 19:38] #3409 closed

[2022-04-13 21:06] Offroads opened #3412 "ERROR! Something went wrong in GetAllLeaderBoardDetails with new questie version"
## Bug description
After updating to latest version I get these errors on login and sometimes seemingly at random later on.
[22:59:08] Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails1109 -  : 0/1
[22:59:08] Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails8585 -  : 0/1
[22:59:08] Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetail

[2022-04-13 21:21] BreakBB commented on #3412
Thanks @Offroads for reporting this. We are looking into it

[2022-04-13 21:23] BreakBB commented on #3412
Does a /reload fixes this?

[2022-04-13 21:32] BreakBB commented on #3412
Could you enable Debug prints (only DEBUG_CRITICAL)  in the Questie settings, then do a /reload and check if you get a message similar to

That would really help a lot.

[2022-04-13 21:40] Offroads commented on #3412
[23:38:59] Questie: [CRITICAL] [Questie:OnInitialize] Questie addon loaded
[23:38:59] Questie: [CRITICAL] [QuestieValidateGameCache] Quest log is ok. Good quest: 18/18
[23:39:02] Questie: [CRITICAL] ERRRRORRRRRRR not mutually exclusive for questID: 6163
[23:39:05] Questie: ERROR: Translations for 'Sunken Temple' is missing completely!

[2022-04-13 21:44] Offroads commented on #3412
Appears to work now with debug enabled, on my alt as well that had the same issue. All quests loads fine in the quest log.

[2022-04-13 21:55] Offroads commented on #3412
Still happens, this time on my alt after being logged in for maybe 10 minutes.
![image](https://user-images.githubusercontent.com/28876369/163276836-70f647ae-7f8d-4ab8-80c4-83108edf5618.png)

[23:53:35] Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails8560 -  : 0/2
[23:53:35] Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails8560 -  : 0/5
[23:53:35] Que

[2022-04-13 22:48] Laumesis commented on #3412
@Offroads Are you in group while error happens?

[2022-04-13 22:50] Offroads commented on #3412
It has happened while in a group and not in a group. Last error was not in a group, standing in thunder bluff smelting ores or crafting blacksmithing stuff

[2022-04-13 23:11] Laumesis commented on #3412
@Offroads
Could you enable debug prints also for `DEVELOP` and `INFO` and attach past ~20s of debug prints when error occurs, please?
That will produce **lots** of unnecessary lines, sadly.

[2022-04-13 23:19] Offroads commented on #3412
Think I managed to trigger it by moving a quest object from my bank to my bags, then back to bank.

01:17:46] Questie: [DEVELOP] [QuestieTooltips:GetTooltip] i_32733
[01:17:46] Questie: [DEVELOP] [QuestieTooltips:GetTooltip] i_32733
[01:17:47] Questie: [DEVELOP] [QuestieTooltips:GetTooltip] i_32733
[01:17:47] Questie: [DEVELOP] [QuestieTooltips:GetTooltip] i_32733
[01:17:47] Questie: [DEVELOP] [Qu

[2022-04-13 23:38] Laumesis commented on #3412
@Offroads Just one easy check - how you installed new v6.9.0 version? Could you try delete the Questie folder from addons and reinstall? To make sure there is not some old files messing up - even they should not mess up. 😅

[2022-04-13 23:46] Spotnick2 commented on #3412
Also happens to me while in a raid group

[2022-04-13 23:55] Muehe commented on #3412
@Spotnick2 Could you please try completely deleting and then re-installing Questie with a closed WoW client? Realise you might not be able to during raid, after is also fine.

[2022-04-13 23:56] Offroads commented on #3412
I use wowup to manage addons.

Did a check, moved the questie folder somewhere else, downloaded https://github.com/Questie/Questie/releases/tag/v6.9.0 and put installed it again.
Made [this repo ](https://github.com/Offroads/test)and replaced the files with what i downloaded, no difference according to github desktop client.

Can't consistantly recreate the issue. Tried moving quest items around a

[2022-04-14 00:01] Muehe commented on #3412
Thanks for testing. Just to be sure, you had the WoW client closed during reinstalling, right?

Anyway, seems it's bug in the code somewhere, we'll investigate and let you know if we need additional info or have a fix for testing (we still don't have reproduction on our side so far).

Just FYI if you are proficient with git you *should* be able to just clone the Questie into the Addons directory.

[2022-04-14 00:01] Laumesis commented on #3412
@Offroads
2nd thing to exclude one posibility: Could you disable all other addons?

[2022-04-14 01:47] Laumesis commented on #3412
Could affected users also test disabling questie tracker and see if problem exists?

There might be multiple race conditions with questie tracker or with questie comms.
Or (more  likely) there is something funny happening in game client cache invalidating stuff it already had cached fine from a game server - or rate limiting requests to the cache.

[2022-04-14 03:54] Raulfin opened #3413 "Quest: Murkblood Leaders..."
## Description

Quest: Murkblood Leaders... (9867) shows the location of Ortor of Murkblood (18204) as along the roads north and south of Halaa, on the same path as the Murkblood Invaders (18238) that drop the Murkblood Invasion Plans to start Murkblood Invaders (9872).
His correct location is 30,42 inside the main building in Sunspring Post.

## Wowhead link

https://tbc.wowhead.com/quest=9867/mu

[2022-04-14 05:23] BreakBB commented on #3412
I am curious @Offroads is the error thrown for every quest you have in your quest log or are there some which are not affected?

[2022-04-14 08:38] Laumesis commented on #3412
@BreakBB
Things he posted already implied it doesn't happen to every quest as far as I could read the game outputs. But yes it would nice to know for sure.

[2022-04-14 09:21] Laumesis commented on #3412
@Offroads  or anyone else having the bug:
Have you experience the bug **before** you have seen a **loading screen** in game? A loading screen from login or `/reload` does not count.

[2022-04-14 10:04] Laumesis commented on #3412
Please test this as a new `Questie\Modules\Quest\QuestieQuest.lua` .
Copy over old and `/reload` and enter dungeon / change continent. Doesn't fix layering related issue if it also triggers the bug.
https://cdn.discordapp.com/attachments/689548313103433947/964102507313893456/QuestieQuest.lua

Adds this to SmoothReset:
[code]

[2022-04-14 14:04] BreakBB commented on #3397
Thanks for coming back to this @Feronas I'll take another look then to fully fix this issue.

[2022-04-14 17:32] Offroads commented on #3412
Looting mailbox. Issue happened again. But with the update it fixed itself again, rerfeshing the quest tracker multiple times.
a ton of debug messages so only have some of them here:

[19:29:29] Questie: [DEVELOP] [QuestieQuest:PopulateObjective] Ivory Scarab
[19:29:29] Questie: [INFO] Registering objective tooltips for Ivory Scarab
[19:29:29] Questie: [DEVELOP] [QuestieQuest:PopulateObjective] Br

[2022-04-14 19:56] snookylops commented on #2831
![Rethban Ore Quest](https://user-images.githubusercontent.com/70088140/163466074-6974d3fc-9210-4090-a316-00f6d37b095f.jpg)

[2022-04-14 19:58] snookylops commented on #2831
So I hopped back over to Kalimdor, and noticed on the map that it's showing Rethban Ore dotted all over the Barrens for some reason. It's not appearing in any other zone in Kalimdor, so not sure what's going on with that.

[2022-04-14 20:44] matthewhively commented on #2831
I suspect that is because you're currently in the barrens. I suspect if you moved to an adjacent zone the map would re-render to show in that zone instead.

[2022-04-14 21:02] snookylops commented on #2831
The map looked like that when I was in Darkshore after getting off the boat (I was making the run to pick up the flight path in Ratchet, then take the boat to STV to get the fishing book) and decided to swing by while passing thru the Barrens and see if the quest markers actually turned up anything or if it was a bug. There were no quest icons for the Rethban ore in Darkshore while I was there, no

[2022-04-15 12:30] b-morgan commented on #3412
I'm having the same issue. Our guild moved to a new server so I just transferred 6 toons from the old server to the new one.
The error happened yesterday on the old server and today on the new one (but not on the same toon). As part of the move, I deleted the global saved variables file for Questie. Activity on the new server has been limited to joining the guild, adding guild note, opening mail,

[2022-04-16 00:23] celey123 opened #3415 "Questie bugged my chat, can't read"
## Bug description

## Screenshots

## Questie & WoW version

[2022-04-16 11:14] BreakBB commented on #3415
Hey @celey123 could you fill out the information we asked for in the template? The heading of your report does not help or explain at all.

To be able to help you we need more.

[2022-04-16 17:47] MimmiLand commented on #3415
Not sure if it is the same but everytime I open the bank I get a bunch of ERROR-lines in chat. Like shown in the picture.
![questie error](https://user-images.githubusercontent.com/100846832/163685888-78f12c17-b30d-4896-8685-ed39a5664fc6.png)

[2022-04-16 19:49] BreakBB commented on #3415
Yeah that is the same as #3412 Closing this in favor of the other

[2022-04-16 19:49] #3415 closed

[2022-04-17 09:07] Road-block commented on #3415
This is just me thinking. I have no way to verify without running a packet sniffer.

I have the option Objective Sorting "By Zone".  I have noticed that when the error happens it's usually not all the tracked quests but some.

What if they changed something in a recent patch that keeps quests cached by zone and invalidates other zones.
In that case the objective sorting is not causing the bug but

[2022-04-17 09:13] BreakBB commented on #3415
Hey @Road-block I think you are reffering to the #3412 issue aren't you?

[2022-04-17 10:07] Road-block commented on #3415
I was sorry for posting under the duplicate.

[2022-04-17 10:19] Road-block commented on #3412
Adding another datapoint for invalidation happening by zone as I mentioned in the duplicate.

![ChatSpam](https://user-images.githubusercontent.com/109839/163710276-9d7d2ad8-7fab-452a-b98f-f1521ad18ffe.png)
![Tracker](https://user-images.githubusercontent.com/109839/163710285-7d66de04-0c13-482a-bfcf-b114f66543f0.png)

The chat spam happened on the first kill of a Saltstone Gazer 1/6 (at the bottom

[2022-04-17 17:02] Holmelund commented on #3412
I am getting the same errors on all of my toons, haven't transferred to a new realm or anything, just started showing up after last update.

[2022-04-17 17:40] InterceptorDK commented on #3412
Yeah same problem. Seems to happen when new people join a group im in or someone comes online in guild and stuff like that.

[2022-04-18 02:09] Spotnick2 commented on #3412
Also happened to me when I group with my 2nd account. I did uninstall and reinstall everything.

[2022-04-18 02:30] Koal4 commented on #3412
Same problem since the latest update.
Mostly solo levelling for me

[2022-04-18 08:36] BreakBB commented on #3412
Thank you guys for keep reporting this issue.

We are still looking for the reason why this happens and especially in such an inconsistent manner.

It would be great if everyone who has the time try to play a bit with just Questie active and see if this issue can still happen. This would help us to know if it is a conflict with another addon or just a new behaviour of the WoW client.

[2022-04-18 11:43] Naniq commented on #3412
Happening to me aswell

Mostly happend when logged in for the first time of the day, it will throw a lua error and then after a few /reload it will stop doing it

[2022-04-18 15:16] karkius commented on #3412
![image](https://user-images.githubusercontent.com/11992361/163828408-3ea1ea30-b265-474c-b3ab-c5c2811efed2.png)
same problem - happens once after every log in or reload at seemingly random times. Also, it seems to happen when closing bank after transferring some items back and forth

[2022-04-18 16:09] BreakBB commented on #3412
Hey @Naniq your error is something completely different. It looks like you have a broken installation of Questie. Remove the Questie folder and/or use an addon manager for a fresh install.

[2022-04-19 03:02] SF0614R18 opened #3418 "Thousand Needles - A Dip In The Moonwell - Icon moves on the minimap"
In this quest you have to take control of a small robot and retrieve a sample of water from a moonwell.  If you walk beyond the moonwell, the icon on the minimap which shows the location of the moonwell begins to move.  If you keep trying to walk towards the icon on the minimap, you can never reach the icon because it keeps moving away from you.

[2022-04-19 05:27] BreakBB commented on #3418
That sounds very interesting. I just did the quest a few days ago but didn't notice.

Will try to look into it with another character thanks for reporting it.

[2022-04-19 10:59] Laumesis commented on #3412
@Naniq
Your error originates from `RXPGuides` addon - which seems to use Questie's *internal* functions.

[2022-04-19 11:24] SF0614R18 commented on #3418
1) Take control of robot
2) Instead of going into moonwell, keep running past it
3) Pay attention to the icon in the minimap which is supposed to show where the moonwell is, it moves.

This is on the ARM version of WoW.  I’m running a MacBook.  Not sure if this matters because usually Questie runs flawlessly.

Thank you for this amazing addon.

[2022-04-19 11:25] SF0614R18 commented on #3418
Also this is TBC Classic.

[2022-04-19 18:04] Valcny commented on #3412
I've been having the same issue, however, it was also causing my game to hang up on loading screens and proceed in stopping the game from responding.  Once I turned the addon off, the issue resolved.

[2022-04-20 01:29] furydeath9 commented on #3412
I get it every time I port to area 52 think I've only ever seen it once in Nagrand but long ago but last few days it happens EVERY TIME

Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails9831 -  : 0/1
Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails8288 -  : 0/1
Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails10704 -  : 0/1
Ques

[2022-04-20 12:45] Cabro commented on #3412
I found what is causing it (hopefully). Changing zones and killing quest mobs (before and after) will cause this bug. It's definitely something related to this.

[2022-04-23 06:56] scleal commented on #3344
Took a look at this because it was something I kept coming back to wanting. Didn't implement as described really, but added a similar tab to the Questie Journey "Quests by Zone" feature. I also included some small improvements to that feature. Still needs localization. Auto-selects your currently watched faction.

[2022-04-23 08:24] Cabro opened #3420 "Questie doesn't update your class when you reroll another char with same name."
As title says, when you make another class with the same name, questie doesn't update this, and when you look for class trainers it takes you to the previous class' trainers, instead of the current ones.

[2022-04-23 08:25] Cabro opened #3421 "Possible to add reagent vendor to the Vendor tracking?"
Would it be possible to add "Reagents" to the menu of tracking types along with "ammo", "drink", "food" etc in the vendor section of the menu?

[2022-04-23 08:26] #3421 closed

[2022-04-23 09:37] LordLocksley commented on #3412
Greetings. Just added this same info in the Discord, but I'm copying it here too for trazabilty.

This error has been happening to me constantly and I've done some tests by enabling ONLY Questie and disabling all other addons, to report what happens. Then enabling one addon at a time.

Problem is, it happens seemingly at random and I've been unable to figure out a pattern to reproduce it consisten

[2022-04-23 09:43] Koal4 commented on #3412
I don't use that addon and it happens to me at random times.
It's definitely 100% related to the last update. Before that it was fine.

[2022-04-23 09:44] LordLocksley commented on #3412
Yes, it's something related to the latest update of Questie, before it didn't happen. But also, I'm pretty sure it's a conflict (of the latest version) with other addon, as playing with ALL other addons diasabled does't pop up the error for me

[2022-04-23 10:37] maxwellpark opened #3422 "attempted to call a protected function (Questie_TrackedQuests:ClearAllPoints()) during combat lockdown."
Hello, I've been getting this error, intermittently. I think it happens when I leave combat. But I don't know how to reproduce it.

Questie version: 6.9.0
WoW version: 20504

[code]
Thanks

[2022-04-23 18:43] bigjay108 commented on #3412
Like others, I've been getting this error.  Pops up when I login, then after any loading screen.  Also, I'm getting it right now as people join this PUG raid 1 by 1.  Only some of the people, and the amount of errors is different per person.

[2022-04-24 14:14] ApologeticMoose commented on #3412
I kept a log of what I did this morning and the errors I got. Including disabling all addons and re-enabling them one by one.
[Questie Error.pdf](https://github.com/Questie/Questie/files/8549859/Questie.Error.pdf)

[2022-04-25 05:27] BreakBB commented on #3422
I thought we already fixed this in the past. It could be that it happens when you leave combat for a very short period before entering combat again 🤔

[2022-04-25 14:22] BigMeanGiraffe commented on #3412
I have also been receiving this error, but only once.

Only happens when I hearth back to Shattrath for me, that I've noticed. Please let me know if I can provide any more information to help.

[2022-04-25 16:35] jhenry82 commented on #3412
I'm seeing this error frequently across all characters since updating Questie to 6.9.0. Let me know if there's anything I can do to help diagnaose the issue. It's very easy to reproduce for me, simply logging into the game or changing zones spams my chat with these messages.

[2022-04-25 19:56] BreakBB commented on #3412
Hey @jhenry82 Do you have any quests tracked in the quest log? Do you do anything quest related? Does the issue also appears, when you have only Questie active and no other addon?

[2022-04-25 20:18] BreakBB commented on #3412
Also for those of you experiencing this issue a lot of times: As a last resort: Can you roll back to the previous Questie version to verify it is related to the latest changes we did?

[2022-04-25 20:53] Zanxe commented on #3412
@BreakBB I've rolled back to v6.8.7 and am no longer seeing the errors. In v6.9.0, I checked the quest IDs that were throwing the errors and noticed they were ones that required you to collect items. The ones which don't require items weren't throwing errors.

[2022-04-25 20:58] ApologeticMoose commented on #3412
What zanxe said is what I have experienced as well. And the quest that gives the error doesn't need to be one you are interacting with at that moment. For example, my shaman has 2 quests in their quest log. I looted an item for quest #1, and quest #2 is the one listed in the error. But it didn't throw an error for the other 5 times I looted an item for quest #1.

[2022-04-25 23:33] bigjay108 commented on #3412
Deleted the folder for Questie 6.9.0 and installed 6.8.7. Working with zero errors for an hour or so across multiple characters, loading and banking.

[2022-04-26 05:23] BreakBB commented on #3412
Thanks @Zanxe @ApologeticMoose and @bigjay108 for testing with the older version. Could you guys do us another favor and activate the critical debug logs while using the old Questie version? We think the error was "always" there but simply not causing this much trouble.

You will also see some other "critical" logs when using this, but most of them are nothing you have to worry about. The most int

[2022-04-26 06:31] Koal4 commented on #3412
I also went back and followed above suggestions. Did a few quests but only below error popped up once. I don't think it's related to this issue but Ill leave that up for you.

![image](https://user-images.githubusercontent.com/10795027/165236131-c848d541-75b8-4358-afd5-1177f581756b.png)

[2022-04-26 07:04] InterceptorDK commented on #3412
I went back on the earlier version yesterday, havent had any errors since.

[2022-04-26 07:37] BreakBB commented on #3412
Nice @Koal4 thanks for testing this! Yes, this helps A LOT and is the same issue 👍🏻

[2022-04-26 07:54] Laumesis commented on #3412
That is exactly related to the issue.

Could you test this version? Please disable `Enable Debug` in Questie Settings. This version throws interesting messages also as error-prints. I'm afraid there will be too much even those.

Delete old Questie folder, and copy this one. Restart game client.

[Questie-v6.8.7-LauTest-1.zip](https://github.com/Questie/Questie/files/8560978/Questie-v6.8.7-LauTest-

[2022-04-26 08:20] Koal4 commented on #3412
I Followed above suggestions and did 1 quest. Also flew to Shat and go to stormwind to get new skills since I levelled.
So far the error didn't popped up. Usually I have it pretty fast after logging in and playing.

Only saw this
![image](https://user-images.githubusercontent.com/10795027/165255320-2bd3a111-1b3c-428b-919f-a54b3713ce5c.png)

I need to work now but I will continue to play/test later

[2022-04-26 09:22] BreakBB commented on #3412
@Koal4 That critical error message is something else, which I fixed in 525556bef70a0acfaff86fa3de36ba4318e95fef

[2022-04-26 10:34] Koal4 commented on #3412
I just received this error.
Looks different but I think it's the same. It happened when I went out of agro while doing the quest 'Goodnight, Gronn'

` Loaded: LFG Bulletin Board 2.61 by Vyscî-Whitemane
Questie: Hiding drop-down menus on the World Map. This is currently necessary as a workaround for a bug in the default Blizzard UI related to drop-down menus.
 Welcome to ElvUI version 2.43, type /e

[2022-04-26 15:55] Gogo1951 opened #3423 "Future of Questie?"
Hey @AeroScripts & @BreakBB ,

Wrath will be here before we know it, what's in store for Questie?

Questie has gone all of TBC without any feature changes, only minor bug fixes and data updates.

My impression is that @AeroScripts is 100% done with WoW, and @BreakBB wants to retain "control" but doesn't have any interest in doing the work to add new features. Am I wrong?

Questie is a really impor

[2022-04-26 16:48] BreakBB commented on #3423
Hey Gogo, long time no see 👋🏻

You are right, Questie didn't receive any "absolutely major features" and none are already planned out for the Wrath release tbh. The main problem (as you know) still is the limit in time and people. I've been the only active developer for the past year or so, but I am very grateful for the awesome help of @Laumesis and the great PRs we received throughout the expans

[2022-04-26 17:06] Muehe commented on #3423
Hey Gogo, hope you are doing good. While you are here, we have been contacting Patreon support because of the account transfer. They said they could do it for you and will be contacting you. Not sure if aero forwarded my message on Discord (couldn't DM you), would appreciate if you could check whatever e-mail is associated with that account. It's been a year now, would really like to get those emp

[2022-04-26 17:55] Koal4 commented on #3412
@BreakBB @Laumesis

I've been questing last couple of hours and I haven't seen the errors the 'QuestieQuest:GetAllLeaderBoardDetails' at all. Only time I've seen it was with the above quest. Might be a one off.

So far it's looking good for me :)

[2022-04-26 20:03] Gogo1951 commented on #3423
@BreakBB - If you don't have time to do development on this, why stay involved? It seems like people on Discord don't know that Questie is basically abandoned... just sort of limping along without anyone at the helm who wants to work on it. Probably good to put the word out that you're all looking for someone new who can take over.

@Muehe - @AeroScripts has always had the owner account on Patreon

[2022-04-26 20:07] Koal4 commented on #3412
Nvm I just had it again.
While doing the 'Mark V is Alive!' quest. Happened when i picked up the red crystal (q item)

` Changed Channel: [2. General - Netherstorm]
 Changed Channel: [4. LocalDefense - Netherstorm]
 Spymaster Thalodien says: ...and just look at where that got us!
 TSM: Sold [Hauyne Ring of the Wolf]x1 for 8g 54s 05c to Moonblaze
 TSM: Sold [Reaver Epaulets of Healing]x1 for 11g 40

[2022-04-26 20:09] Gogo1951 commented on #3423
And @Muehe, as for "empty promises" -- there is code in one of Luke's branches that do all the things talked about on Patreon. It was just a matter of you guys not wanting to do any more work than was absolutely necessary to keep the lights on.

[2022-04-26 20:17] Laumesis commented on #3412
@Koal4
Could you please enclose your logs into between \`\`\` \`\`\` to make it somewhat readable.
Thanks so far. No need to report further v6.8.7 "error" messasges tracing back to
`[string "@interface\AddOns\Questie\Modules\Tracker\QuestieTracker.lua"]:1406: in function Update`.

[2022-04-26 20:19] ApologeticMoose commented on #3412
I rolled back to the old version today (my previous posts were based on the newest update).  I am now running v6.8.7

I was given these errors today while doing PVP. I did around 6 or 7 2v2 skirmishes and one AV. All I did was sit in shatt while my partner queued us up. I didn't receive any errors while using my bank (which triggers it in the newest update) , only when joining or leaving an arena/

[2022-04-26 20:26] ApologeticMoose commented on #3412
In addition, I've noticed that it is always the same quests throwing the errors for me on my toons. All of the quests I had to turn in t3 gear. (9115, 9117, 9118) as well as one of my rep grind quests with the wintersaber guys (4970).

When I played my shaman, it was the same one of her quests too that gave me the error, the second quest in her log never threw errors for me.

In regards to the 911

[2022-04-26 20:27] Muehe commented on #3423
I don't want to rip open old wounds here, but it has been sitting there like that for over a year now with nobody bothering to do anything about it. That's an empty promise.

As for "camping this", I'm not really sure what you mean. What big features are we missing? Have we shot down any PRs I don't know about?

[2022-04-26 20:45] Gogo1951 commented on #3423
Yes, you have shot down PRs because you guys are hell-bent on not taking on any more work than is absolutely necessary to keep the lights on. https://github.com/Questie/Questie/pull/2686

You have to ask yourself, "Is this really what's good for the project?" And if not... maybe thinks about just retiring.

That's what I mean by camping this. You're sitting on it, not lifting a finger to improve i

[2022-04-26 20:55] BreakBB commented on #3423
There is plenty of room for new people, but we are also not explicitly looking for people taking over the project. Whoever is interested in working on Questie can reach out to us.

We made quite some mistakes about trusting people joining the team without them prooving themself towards us. We won't make that mistake again, but again: We are very open for new people 😁

Also Questie is far from aban

[2022-04-26 21:01] Muehe commented on #3423
Just for reference, I knew about #2686

If you think not merging it is unfair then you should still be able to discuss that on the PR or open an issue about that specifically.

[2022-04-26 21:18] BreakBB commented on #3412
Hey @ApologeticMoose yeah the error you posted in your latest PDF is basically the "Questie: [ERROR] ERROR! Something went wrong in GetAllLeaderBoardDetails" but in the old version. So the same error still happens, but it is simply handled/printed differently.

Others also already reported that the error only pops up for quests which require you to collect some items. So your information fits righ

[2022-04-26 21:59] Gogo1951 opened #3424 "Locking Issues is Childish"
Re: https://github.com/Questie/Questie/issues/3423

So @BreakBB & @Muehe. Closing issues is childish.

As is posting and then revoking my ability to respond.

You don't plan to do anything more than keep the lights on, and you won't step away. Kind of just dooms the project, no?

Yup, same issues we had when I was working on the project. I was hoping that by me stepping away you'd come together an

[2022-04-26 22:20] Muehe commented on #3424
Ok, so if I understand you right you promised a bunch of features to people, never implemented them, then stepped away, solely in the interest of the project of course, and people who stuck around to do the boring maintenance part of the work are the bad guys. Alright. But that's your version of events. Others have a different interpretation.

Features have been added over the last year, PRs have

[2022-04-26 23:23] Muehe commented on #3424
It's been an hour so I'll assume you indeed don't have anything to add and close here. Just to be clear, it's not locked, so if you want to tell me anything feel free to do so here, as we don't have contact on Discord.

@AeroScripts is indeed busy with other things than WoW these days, so I don't think he'll be dropping in.

I wouldn't have locked the other issue, but I can understand why @BreakBB

[2022-04-26 23:23] #3424 closed

[2022-04-27 12:20] Gogo1951 commented on #3424
@Muehe  - "promised a bunch of features to people..."

What really happened was Aero and I put out a vision for what we wanted to accomplish.

And we shared this with the group.

And we didn't get much help.

And everyone said, "Oh, I don't want to do work when it's assigned to us, this is a volunteer project, not a job! We shouldn't have a vision or a feature map. It should just be everyone works

[2022-04-27 15:58] #3233 closed

[2022-04-27 16:16] BreakBB commented on #3413
The data we have is absolutely fine. The NPC in question has the correct location and the item is also correctly linked to it.

![grafik](https://user-images.githubusercontent.com/33514570/165564611-12843b93-0b37-4578-9316-583e3cef1e33.png)

I am quite sure this is linked to a waypoint issue we have and will merge this issue with #3282

[2022-04-27 16:16] #3413 closed

[2022-04-27 16:27] Muehe commented on #3424
Again, that's your interpretation. There is another I won't discuss in too much detail without permission in a public place.

My interpretation is that you gained the ear of the BDFL, got into a beef with the person who single-handedly ported Questie from 1.12 to 1.13 to the point that that person effectively left, repeatedly offended other longstanding project members, then you left yourself when

[2022-04-28 10:59] Gogo1951 commented on #3424
While my claim that you guys are do-nothings may seem harsh if you weren't do-nothings you'd have done something this last year. And you'd have plans to do things in the future. You'd understand the landscape, and you'd understand that you're losing market share; other add-ons that have their finger on the pulse of the modern game. It used to be 99% of everyone had Questie installed, and the ones

[2022-04-28 15:43] Muehe commented on #3424
You are just doing the same thing here you did while on the project. Take a minimally viable argument, spin it to death, add lots of insults and outright lies when things aren't going your way. Presto, Gogo's leadership. Nobody needs that mate.

I hope you get your act together and stop insulting people all the time, I really do. But I don't think you will.

[2022-04-29 12:52] BreakBB commented on #3412
The team was not yet able to reproduce it or to find the root cause @mykkenny 🙈 Even though we are testing this quite intense. I never experienced this even though I leveled over 60 levels with this version of Questie and have been using the version for multiple month (while development).

Laume posted in [this comment](https://github.com/Questie/Questie/issues/3412#issuecomment-1109469291) a vers

[2022-04-29 14:11] mykkenny commented on #3412
@BreakBB I have tested with the LootReserve addon disabled, and the error stops completely. I re-enabled LootReserve, and I can generate the errors consistently again by simply opening my bank, waiting 30s, and closing it again.

[2022-04-29 14:14] mykkenny commented on #3412
Further info for reproducing:

Opening and closing the bank again after a 30s wait will only work the first time per session, you have to /reload your UI for it to work again.

However, it will produce errors again in the same session if you move a collectable quest item (such as Motes of Fire in my example above) from your bank to your bag (or vice versa), wait 30s, and close the bank.

[2022-04-29 14:18] Bufallo commented on #3412
I do, an i have the errors on every zone change (entering instance and so on).

[2022-04-29 15:45] jhenry82 commented on #3412
I also have LootReserve. I'll try turning it off and see if that has an effect.

[2022-04-30 08:42] Cabro commented on #3412
Yes, I noticed that after Loot Reserve is disabled, I haven't gotten any errors yet.

[2022-04-30 09:33] BreakBB commented on #3412
Thank you all for giving feedback about LootReserve!

I was able to finally reproduce this issue as well after installing LootReserve which will help a ton to find a possible solution for it.

For now to "fix" these errors: Disable LootReserve or roll back to the previous Questie version.

[2022-04-30 09:56] BreakBB commented on #3250
I assume this was an installation error. If this is still an issue feel free to open up a new issue.

[2022-04-30 09:56] #3250 closed

[2022-04-30 13:01] Cabro opened #3425 ""The Champion of the Banshee Queen" is not shown by Questie."
Quest id 5961 is not shown by Questie. Horde side, available with level 54.

[2022-04-30 16:14] BreakBB commented on #3425
Thanks for the report. Did you experience this on TBC or SoM?

[2022-04-30 16:32] zgit2020 commented on #3412
I do NOT have LootReserve, and I have also seen this error (though not in a consistent manner).

[2022-04-30 16:44] Cabro commented on #3425
TBC, not SoM

[2022-04-30 17:35] peidshjt opened #3426 "Questie not initializing"
I'm running the latest version of everything... I've tried reinstalling/downloading Questie... I've cleared WTF folders... I can't get it to initialize.

<img width="729" alt="Screen Shot 2022-04-30 at 10 32 52 AM" src="https://user-images.githubusercontent.com/104691647/166116240-7e0194a2-446e-4343-abca-3dae18da6e50.png">

[2022-04-30 17:55] Muehe commented on #3426
If you can still access the Questie settings there should be a "Recompile DB" option that might help.

If you haven't already you can also try to completely delete the Questie directory and then installing again. Remember to close WoW before you do so.

[2022-04-30 18:06] peidshjt commented on #3426
Not able to access settings.. it doesnt really load at all

[2022-04-30 18:27] Road-block commented on #3412
LootReserve doesn't do something unique to that addon.
Other addons that try to cache items en masse will probably have a similar effect.

The only thing I can say after looking at LootReserve code is that it uses a very convoluted way to force cache uncached items using the "old" tooltip loading method instead of using the ItemMixin utility Blizzard provides.

I'm not sure that would change somet

[2022-04-30 22:32] dagid4 commented on #3426
Same for me. Happened today
![Screenshot_163](https://user-images.githubusercontent.com/22964985/166124717-b0550f54-c843-41ed-a2f2-c17ab4ce8764.png)
.

[2022-05-01 00:37] wilsoncpw commented on #3426
Exactly the same for me.  Wow Classic Era -Questie v6.9.0

[2022-05-01 00:44] Muehe commented on #3426
@peidshjt @dagid4 @wilsoncpw I can not reproduce, but with the help of Yoman on Discord I found a workaround:

[code]

[2022-05-01 00:51] wilsoncpw commented on #3426
Muehe, many thanks.  That worked great!

[2022-05-01 02:16] Nikkun59 commented on #3426
Hi Muehe,
I am having the same issue as mentioned above. I note the workaround but do not know how or where to add this.
Can you please advise?

[2022-05-01 02:42] Muehe commented on #3426
@Nikkun59 First close WoW, then:

1. Go to the WoW directory. This is usually at `C:\Program Files (x86)\World of Warcraft\_classic_`, but there should be an option in the Battle.net launcher to go there.
2. Go to `Interface\AddOns\Questie\Database\Corrections`
3. Open the file `QuestieEvent.lua` in an editor
4. Search for `["Children's Week"] = {startDate = "1/5", endDate = "7/5"}`
5. Change `1/5

[2022-05-01 02:57] Nikkun59 commented on #3426
Hi Muehe,
I have shut down wow, and followed your instructions -
QuestieEvent.eventDates = {
    ["Lunar Festival"] = { -- WARNING THIS DATE VARIES!!!!
        startDate = "23/1",
        endDate = "10/2"
    },
    ["Love is in the Air"] = {startDate = "11/2", endDate = "16/2"},
    ["Noblegarden"] = { -- WARNING THIS DATE VARIES!!!!
        startDate = "13/5",
        endDate = "19/5"
    },

[2022-05-01 03:01] Muehe commented on #3426
Hmm, the only thing I can think of right now is that you might have been in the wrong directory if you have both Classic SOM and TBC installed, as the workaround seems to have worked for all other affected users so far.

[2022-05-01 03:45] Nikkun59 commented on #3426
You were correct, I had not updated the Classic_era_ directory. Didnt realise that classic era was the actual Classic and TBC comes under the Classic directory.....
Thanks for your help with this.
Have a great day/Night.

[2022-05-01 05:17] Laumesis commented on #3426
People experiencing the bug,
What langauage your WoW installation is?

[2022-05-01 06:27] joothly commented on #3426
Got the same issue in SoM, installation is in english on windows10.

Fixed it by adding the following to [...]\AddOns\Questie\Database\Zones\zoneDB.lua
[code]

Cheers.

[2022-05-01 07:36] alexander-m-ivanov opened #3429 "zoneDB.lua:215 attempt to index loacl 'questsToSplit' (a nil value)"
Hello,

the following message appeared today after I played for over a month using questie:

`zoneDB.lua:215 attempt to index loacl 'questsToSplit' (a nil value)`

The only thing I did was to log in to retail WOW and then to classic WOW. I did not try to load them at the same time.

The effect of the issue is that questie is not loading at all. I cannot use it. I tried deleting the old files and i

[2022-05-01 07:59] CD-69 opened #3430 "Mountaineer Kadrell"
Hi - just outside Thelsamar (32,49) two quests showing up as available from a quest giver who isn't there (Mountaineer Kadrell) - Rat Catching and Stonegear's Search. Latest version 6.9.0 running on vanilla Classic (not TBC)
![Screenshot 2022-05-01 084927](https://user-images.githubusercontent.com/104712648/166137383-28e591cd-c593-48e4-ae1b-ebfbcc6a4826.png)
.

[2022-05-01 08:01] Jazzman1976 commented on #3429
I have the same bug. Comes out of nowhere.

[2022-05-01 08:01] MatthewANormand commented on #3429
I am having the same problem. Just happened randomly. Now my questie wont work at all. Please some help.

[2022-05-01 08:15] BreakBB commented on #3429
Hey there,

This is a duplicate of #3426 - Check that issue for a workaround.

We are already working on a real fix for this. Sorry for the trouble

[2022-05-01 08:25] Cabro commented on #3430
Doesn't this NPC patrol up and down the road?

[2022-05-01 08:35] baaatzi opened #3432 "Questie: [ERROR] Error during initialization! Interface\AddOns\Questie\Database\Zones\zoneDB.lua:215: attempt to index local 'questsToSplit' (a nil value)"
Hi,
I am playing Season of Mastery and since the last update I receive the following error message during initialization:

"Questie: [ERROR] Error during initialization! Interface\AddOns\Questie\Database\Zones\zoneDB.lua:215: attempt to index local 'questsToSplit' (a nil value)"

I tryed reinstalling and also installing older questie version, but it is still not working.
As a result questie is not

[2022-05-01 08:37] BreakBB commented on #3432
This is a duplicate of #3426 and #3429

Check the first one for a workaround. We are already working on a proper fix which we will release later today.

[2022-05-01 08:37] #3432 closed

[2022-05-01 09:14] Laithel opened #3433 "Questie Error - Classic SoM"
Hello,

I have an error with questie. The error appeared spontaneously upon logging back into my main character after briefly playing on an alt. Questie had worked fine this same morning. The error text is as follows, and appears immediately upon logging in:

Questie: [ERROR] Error during initialization!
    Interface\AddOns\Questie\Database\Zones\zone
    DB.lua:215: attempt to index local 'quest

[2022-05-01 09:23] BreakBB commented on #3433
This is a duplicate of #3426 and #3429

Check the first one for a workaround. We are already working on a proper fix which we will release later today.

[2022-05-01 09:23] #3433 closed

[2022-05-01 09:23] Laithel commented on #3433
Thankyou kindly

[2022-05-01 09:44] CD-69 commented on #3430
I did wonder that - I had a couple of looks - will check again. I'm sure there used to be a "where is?"-type tracker in one of the old mods, I'll check that too.

[2022-05-01 10:46] dagid4 commented on #3426
Thanks @joothly, your workaround works. I have first tried the https://github.com/Questie/Questie/pull/3431/commits/8f29c1d74a1a76ae53adaac7f8bcca6622ec8d2a, but it didn't solve the issue.

[2022-05-01 15:42] Laumesis commented on #3426
@dagid4
I guess you didn't Recompile Database after 8f29c1d ?
That would get automatically done as Questie version changes when user updates to new Questie release.

[2022-05-01 16:33] #3426 closed

[2022-05-01 16:33] #3429 closed

[2022-05-01 16:36] Muehe opened #3435 "Children's Week quests shown as available when they aren't"
https://github.com/Questie/Questie/pull/3434#issuecomment-1114195546

[2022-05-01 17:27] Laumesis commented on #3402
Teah, because itemids are using 16 bit unsigned integers atm.

[2022-05-01 17:31] Minitag opened #3436 "Error: attempt to index local 'questToSplit' (a nil value)"
## Bug description
Questie is not loading at all and producing the error screenshot attached

## Screenshots

![Capture](https://user-images.githubusercontent.com/104731408/166157288-ccd7c172-5ceb-4219-b66a-1d5c9db084ef.PNG)

## Questie & WoW version
<!--
Which version of Questie are you using? You can find it by:
v6.8.1 but also appeared in newer versions, I tried going backward to see if it woul

[2022-05-01 17:33] Muehe commented on #3436
Fix is already done and will be release shortly. Thanks for reporting though! 👍

[2022-05-01 17:33] #3436 closed

[2022-05-01 18:09] zephear0 opened #3437 "Unable to load Questie - Error During Initialization"
Getting the attached error: Error during intitialization.  Tried to delete entire Questie folder, close WoW then relog on with v.6.9.0 and v6.8.7.  Getting the same thing.  Could you please look into this?

Questie v6.9.0.  Classic Era.

Thanks,

![Capture](https://user-images.githubusercontent.com/104732609/166158809-8a988ad0-57c1-419e-a962-d2b1374c9668.PNG)

[2022-05-01 18:12] Muehe commented on #3437
New version 6.9.1 that should fix this was just released, please update. CurseForge and Wago uploads are still pending, but you can already get it from [here](https://github.com/Questie/Questie/releases/tag/v6.9.1).

[2022-05-01 18:12] #3437 closed

[2022-05-01 20:00] TelinDarkforest opened #3438 "Add Feature that shows map tracking icons for others in group"
I find myself often helping friends complete quests that I am not currently on. It would be very helpful for me to add their quests icons to my map. This would greatly increase questing efficiency when players are needing to catch up on each other's quests.

I understand this could make the map a little confusing, but perhaps adding color coding or some other indicator to the icons will help diffe

[2022-05-01 21:41] Cabro opened #3439 "The Children's Week quests are supposed to scale with your level."
The TBC quests for example are all shown as level 70, even though they are 60 in the quest log while your char is level 60.

[2022-05-01 23:23] dagid4 commented on #3426
My apologize, I haven't recompiled, didn't know it is necessary.

[2022-05-02 00:06] Pepsiphal opened #3441 "Erreur au démarrage"
## Bug description

Nothing appears : icons on map and list of quests

## Screenshots
 DRAG and DROP or LOADING File ENABLE

Message error : "Questie:[ERROR] Erreur durant l'initialisation !Interface\Addons\Questie\Database\Zones\zoneDB.lua:215: attempt to index local 'questsToSplit' (a nil value)

## Questie & WoW versionn or TBC.
CLASSIC 1.14.2 with Questie Version 6.9.0

THANK YOU

[2022-05-02 05:31] BreakBB commented on #3441
Hey @Pepsiphal grab the newest version of Questie [v6.9.1](https://github.com/Questie/Questie/releases/tag/v6.9.1) either from here on GitHub or from the addon manager you are using. That version fixes this issue.

[2022-05-02 05:31] #3441 closed

[2022-05-02 05:33] BreakBB commented on #3285
This can be closed after mergin #3286 can't it @lbuchholz79 ?

[2022-05-02 05:39] BreakBB commented on #3430
The Questie database also shows that this NPC travels around and does not just stand still. The world map should therefore show these patrol lines 🤔

[2022-05-02 06:39] CD-69 commented on #3430
Yep, great point – I can think of several others where the track/trail is shown – but I can confirm that I do not see the patrol lines with this quest. That’s why I thought we were missing a “static” quest giver – I should have checked Wowhead for that (doh).

From: Björn Böing ***@***.***>
Sent: 02 May 2022 06:39
To: Questie/Questie ***@***.***>
Cc: CD-69 ***@***.***>; Author ***@***.***>
Subject

[2022-05-02 10:00] BreakBB commented on #3430
The partrol for this NPC is quite short @CD-69. If you use an map addon like Leatrix Maps, could you zoom in the world map and check again that no patrol like is drawn?

[2022-05-02 14:20] #3285 closed

[2022-05-02 15:26] SingingHen opened #3442 "It fails to load everytime I log in"
It fails to load every time I log in. Have reinstalled it. Still fails.

Questie version 5.9.0, classic WoW.
-->
![WoWScrnShot_050222_112226](https://user-images.githubusercontent.com/104780280/166260584-25cf6a37-da9f-444b-8372-8124e3834e68.jpg)

[2022-05-02 16:01] mykkenny commented on #3412
Just FYI the latest release did NOT fix this issue for me, it persists and only disabling LootReserve resolves this for me.

[2022-05-02 16:32] BreakBB commented on #3442
Hey @SingingHen you are a few versions behind. The most current is v6.9.1 which includes a fix for your error.

[2022-05-02 16:34] BreakBB commented on #3412
Yeah @mykkenny that is true and intended (as seen in the changelog). We are currently in the process to filter the best solution among multiple ways to fix this entirely.

[2022-05-02 16:41] SingingHen commented on #3442
thanks for the heads up. I forgot to check today. It dropped an hour after I checked yesterday *sigh*

[2022-05-02 17:01] mykkenny commented on #3412
@BreakBB No worries! Glad things are progressing towards a solution, if theres anything I can do to help let me know :)

[2022-05-02 17:26] #3442 closed

[2022-05-03 02:34] gouletr commented on #3396
I have been running with this change for a while and I didn't see the issue again, so yes checking `Questie.started` looks like its fixing my issue! Thank you very much!

[2022-05-03 02:34] #3396 closed

[2022-05-03 12:27] Walayimuna opened #3445 "Add an option to not auto-complete the PVP battleground token quest for extra honor."
The same quest NPC that gives the quest to turn in battleground tokens for extra honor gives a repeatable quest to win a battleground for a box of random materials.

Quest for tokens:

https://tbc.wowhead.com/quest=8371/concerted-efforts
https://tbc.wowhead.com/quest=8385/concerted-efforts

Quest for battleground victory

https://tbc.wowhead.com/quest=64845/alliance-war-effort

Please add an optio

[2022-05-03 16:08] BreakBB opened #3446 "The vendor flag of an item is not used as objective source"
## Bug description

When an item for an objective has to be bought from an NPC the "vendor" flag of the items is not used to determine possible NPC sources for the required item.

## Screenshots

## Questie & WoW version

[2022-05-03 16:27] #3401 closed

[2022-05-03 16:27] #3439 closed

[2022-05-03 20:28] brophym opened #3448 "Initialization Error"
Questie not loading since Children's Week started...

Error during Initialization!
Interface\Addons\Questie\Database\Zones\zoneDB.lua:213: attempt to index local 'questsToSplit' (a nil value)

Have no idea how to fix this...

Please Help!!  I miss my Questie.....

Thanks
brophym

## Bug description

## Screenshots

## Questie & WoW version

[2022-05-03 21:01] BreakBB commented on #3448
This has been fixed with the latest version of Questie v6.9.1 released two days ago.

[2022-05-03 21:01] #3448 closed

[2022-05-04 08:55] Cabro opened #3449 ""Now, when i grow up..." has no objective location."
The quest is missing the objective location for Silvermoon City at about 76.4,80.0

[2022-05-04 11:09] Cabro opened #3450 ""The Respect of Another" is being renamed by Questie."
Whenever you try to link quest (id 9898) Questie renames it chat to "Nothin' Says Lovin' Like a Big Stinger". There is no quest named like that ingame.
I assume this renaming is Questie's erroneously doing.

[2022-05-04 11:32] Muehe commented on #3450
Well more historical than erroneous. This is one of the quests that was renamed due to the sexual harassment scandal at Blizzard.

Thanks for the report. :+1:

[2022-05-04 12:23] Cabro commented on #3450
Wow i had no idea this was the history behind.

[2022-05-04 16:54] Cabro opened #3452 "Party members' quest objectives are still shown in NPC tooltip info even after said party members have turned in the quest."
As far as i see, it is only shown as long as i am still on the said quest. I get my quest progress info in tooltip, but i also get my party member's progress, even after they have turned in the said quest.

TBC, latest version of Questie

[2022-05-04 17:51] #3435 closed

[2022-05-04 17:51] #3449 closed

[2022-05-04 21:38] #3450 closed

[2022-05-04 21:40] #3425 closed

[2022-05-04 21:51] #3096 closed

[2022-05-04 23:03] Laumesis opened #3454 "[quest] Alliance War Effort (64845) is missing objectives"
Quest 64845 `Alliance War Effort` is missing objectives from DB / corrections.

[code]
[code]

v6.9.1

[2022-05-05 05:52] BreakBB commented on #3454
Hm the data looks fine for me 🤔

Since it is an "event" objective type only a `triggerEnd` is needed which is in the corrections.

[2022-05-05 07:45] #3446 closed

[2022-05-05 07:46] #3390 closed

[2022-05-08 20:45] Velarax opened #3458 "Settings refactor"
Will you PLEASE either make the announce account wide OR disable it by default?  Addons like Questie Shutup should NOT be necessary.

[2022-05-08 21:55] BreakBB commented on #3458
What do you mean by "the announce"? :Sweat_smile:

[2022-05-08 21:59] Road-block commented on #3458
I'm guessing he means the `Announce quest updates` options in the General tab.

[2022-05-08 22:05] BreakBB commented on #3458
I have no clue what the "Questie shut up" addon does, an explanation would be nice for that as well.

But we are open for suggestions and will think about a change once we know what the problem is that needs to be solved.

[2022-05-08 22:33] Road-block commented on #3458
He is asking for the group announce option in Questie to be set to "disabled" by default (no chat announces for quest updates) when you install Questie.

Or for the option to not be "per character" so he can toggle it off once and have it be off for every character after that.

For my part I think it's a silly request, especially the dramatics 😛

It's not so hard to open options > navigate to `Ann

[2022-05-08 22:55] Muehe commented on #3458
Ok, so this is more like three issues basically.

1. Settings per character/account
2. The setting default (spoiler, its already solved, but wait for the hidden sub issue)
3. Questie not shutting up because others have the setting enabled

For 1. that's an argument to be had, I guess we can take this issue to discuss it.

For 2. that's a duplicate of #3220 basically, and furthermore the [option al

[2022-05-08 22:55] Velarax commented on #3458
My suggestion is, make the selection account-wide so that when you select the announce quest settings, you don't have to do it on every character.  No one wants that garbage popping up mid-screen.  Literally no one I have played with or grouped with likes it.  We each have to take the time to set it to disabled.  Can't you just offer an "account wide" setting option?

[2022-05-08 23:12] Muehe commented on #3458
Well I guess we could, but as I alluded to with the reference of the silver and yellow question marks that's just confusing. I'd personally prefer the profile route to solve this.

By default you are in a profile called default, that tracks changes to the default settings and isn't editable. If you want to change anything you implicitly copy the default profile to "Profile x", x being an iterative

[2022-05-08 23:43] Road-block commented on #3458
In the vein of anecdotal evidence I often quest with friends and the announce is quite helpful so we don't constantly ask each other "hey how many more bladders?".

Also anecdotally I typically ask my group when it's a pug "sorry for spam if it bothers I'll turn it off". 9 out of 10 times they tell me "no leave it on, I always forget to pick up X quest item from boss".

Some few people are annoyed

[2022-05-08 23:44] Velarax commented on #3458
Please explain how to set an account wide profile with the settings I prefer.  I can't seem to find that option anywhere.  But I still don't see why this request for an "additional" account-wide setting is such a big deal to someone who knows how to write this software.

[2022-05-08 23:46] Muehe commented on #3458
@Velarax There is no way right now, I'm just thinking out loud about how to best solve your problem. Still favouring the profile route, since it's implicitly account wide and easier to understand and manage.

[2022-05-09 00:14] Gogo1951 opened #3459 "Falcon Watch"
https://tbc.wowhead.com/quest=9498/falcon-watch

Quest shows up before it's obtainable.

[2022-05-09 00:20] Gogo1951 commented on #3459
Actually... seems fixed after reload of DB.

[2022-05-09 00:20] #3459 closed

[2022-05-09 01:58] Gogo1951 commented on #3458
Any plans of ever moving forward with the overhaul for settings? As @Velarax points out, the UX for the current settings is atrocious. @AeroScripts and I had played with some new designs, feel free to use those where you can.

https://github.com/Questie/Questie/issues/2511

[2022-05-09 01:59] Gogo1951 commented on #3385
![image](https://user-images.githubusercontent.com/55365231/167327952-68bde0f8-3019-406d-bf4d-bea3f7ba022e.png)

Another heroic daily missing objective locations.

[2022-05-09 02:03] Gogo1951 opened #3460 "Location of Flight Paths in SMV is Aldor or Scryer Specific"
All the Horde would get the green Flight Path, but from there you have to be Aldor or Scryer to get 1 of the others.

![image](https://user-images.githubusercontent.com/55365231/167328291-f49b6e2d-8d74-48c0-885c-ac86a28eb6b4.png)

[2022-05-09 02:05] Gogo1951 opened #3461 "Map Tooltips where 2 Objectives can be Obtained from 1 Mob are Bugged"
Only shows objective once.

![image](https://user-images.githubusercontent.com/55365231/167328445-9e192c1a-d900-4b54-89e1-de77d709d20d.png)

[2022-05-09 02:35] Gogo1951 opened #3462 "Quest Tracker Layout Bugs Out in Combat"
Minimize the tracker... then mid-combat... it looks like this:

![image](https://user-images.githubusercontent.com/55365231/167330972-b97f1df8-5d70-4a1b-9b07-4520c4a990c6.png)

After combat looks like this:

![image](https://user-images.githubusercontent.com/55365231/167331016-cc4c03d8-2717-4f10-bb6b-26cc6ac7e6e1.png)

Quest Objectives being complete shouldn't force the tracker to show if it's min

[2022-05-09 02:42] Gogo1951 opened #3463 "Objectives for Quests Accepted in Dungeons / Raids Don't Show Until Questie Reloads"
Grab this quest form inside Crypts. And no objectives load. Same issue with the Mag Head / KT Orb / etc.

![image](https://user-images.githubusercontent.com/55365231/167331451-4e0d34f2-1e8c-4ac3-9192-f154537dbeb2.png)

Once you reload...

![image](https://user-images.githubusercontent.com/55365231/167331603-01f2e22d-bbe0-48e6-81af-3bc52acd9424.png)

Questie is suppressing updates during Dungeons /

[2022-05-09 08:55] Cabro commented on #3463
I have also noticed this bug. It's more the fact that some quest objectives (especially ones with secondary objectives) are not redrawn when the map is reloaded (on continent switch, leaving a dungeon).

[2022-05-09 09:15] Cabro opened #3464 "Some quest objectives (especially ones with secondary objectives) are not redrawn when the map is reloaded (on continent switch, leaving a dungeon etc)."
# Bug description

The addon doesn't draw quest secondary objectives on the map or minimap if the map is reloaded on continent change, dungeon/raid/arena/bg exit. This is true for quests with secondary objectives.
They will be properly drawn if you reload UI.
LE: the same is true for the quest items provided on acceptance. Their questie tooltip doesn't exist anymore.

# Screenshots
Before reload U

[2022-05-09 09:23] Cabro opened #3465 "Secondary quest objectives are not updated upon quest progress."
# Bug description

Whenever you complete a part of the quest requirements, those requirements are still shown on the map/minimap.
For example below, I only needed Untested Hyena Samples (7/8), the other 2 were 8/8, so they were completed, but the addon still showed those as well.

# Screenshots
![imgur](https://i.imgur.com/etaRQ74.png)

# Questie & WoW version
6.10.0 TBC

[2022-05-09 10:02] Cabro opened #3466 "Tooltips for secondary objective quests are not updated/removed upon completion."
# Bug description

Tooltip for secondary objective will still show even though you completed the quest.
The map/minimap icons are correctly removed.

# Screenshots
![imgur](https://i.imgur.com/XcXQU3F.png)

# Questie & WoW version
6.10.0 TBC

[2022-05-09 16:17] Velarax commented on #3458
I still think my suggestion of offering as an alternative to per character settings, an account-wide "questie announce" shutoff would probably be the easiest.  All members of my dungeon and raiding groups end up going through each of their characters now to shut it off every time there is a Questie update and it gets reset.

I do appreciate the discussion but it seems such a simple solution, one p

[2022-05-09 16:30] Velarax commented on #3458
Questie furnishes this information in a tooltip that advises all group members of each other's progress, making the "mid-screen completion announcement" completely unnecessary.

[2022-05-11 07:19] CD-69 commented on #3430
My bad. Finally found him. I never saw him at the position of the quest marker, though – is that one end of his range? Found him down “in town” near shops and other NPCs.

From: Björn Böing ***@***.***>
Sent: 02 May 2022 11:01
To: Questie/Questie ***@***.***>
Cc: CD-69 ***@***.***>; Mention ***@***.***>
Subject: Re: [Questie/Questie] Mountaineer Kadrell (Issue #3430)

The partrol for this NPC is q

[2022-05-11 08:25] BreakBB commented on #3430
Hey @CD-69 did you zoom in to check if the patrol lines are drawn for this NPC? Might be hard to see if other quest icons are near by

[2022-05-11 21:03] Cabro opened #3475 "Gaining the Advantage (id 11875) should only be available if you are a gatherer (skinner, herbalist, miner)."
Was trying to get this quest on one of my chars that is not a gatherer, found out why.

[2022-05-12 05:37] xathian opened #3476 "Remove minimap ! when daily has been completed?"
Is it possible to have the ! for daily quests go away once they're finished without entirely disabling them?

As it stands, if you turn off the Repeatable Quest toggle even while leaving Available on it removes all daily quest icons from the map/minimap regardless if they're available or not. I'd like all the blue !s for available dailies to show then go away after I turn them in. This would help

[2022-05-12 06:34] Raithaam commented on #3476
This seems to be a new problem, I'm having it ever since they updated for Sunwell. It's showing the ! for the precursor to the dailies, the ! for the daily after finished and the ! for the dailies that aren't available yet. Tried reinstalling and restoring the database with no change.

[2022-05-12 07:33] BreakBB commented on #3476
Hey @xathian and @Raithaam

This is related to us currently showing ALL daily quests no matter at which state of the Isle zone your realm is.

If you enable the "Show Quest IDs" in the Advanced Options of Questie you should be able to see that the daily quest you see after completing one is a different one.

We are already working on a fix for this so players can select the state of the Isle.

Wou

[2022-05-12 18:57] Raithaam commented on #3476
![WoWScrnShot_051222_115206](https://user-images.githubusercontent.com/77211907/168148054-f716a492-40b9-48d9-8712-b8bc47c463ea.jpg)
![WoWScrnShot_051222_115152](https://user-images.githubusercontent.com/77211907/168148070-104919cd-ddc2-419d-bf20-a68c91d194be.jpg)
![WoWScrnShot_051222_115059](https://user-images.githubusercontent.com/77211907/168148080-a3ad3e04-9f46-4a1d-94ec-2305d06c4acd.jpg)
![Wo

[2022-05-12 19:02] BreakBB commented on #3476
Yeah @Raithaam thanks for the screenshots!

This is exactly what I meant in the previous comment, Questie currently shows ALL quests from ALL the "Isle of Quel'Danas phases". It does not hide the ones that are no longer available because your server already progressed to the second phase and also does not hide the ones that you can not accept yet because your server did not progress to the require

[2022-05-12 20:14] Raithaam commented on #3476
Cool yeah, that makes sense. Appreciate all the work you do!!!

[2022-05-14 03:15] Muehe commented on #3458
@Gogo1951 In general yes, but you know how our man-power situation is like. The suggestions you made are of course partly obsolete by now, but we will use them where we can, thanks for pointing again. :+1:

@Velarax Moving all settings to being account wide or introducing an (account-wide) profile system are about the same effort, the difference is basically adding one more drop-down menu. The rea

[2022-05-14 12:50] Laumesis opened #3480 "Auto Track Quests doesn't sync with game's Automatic Quest Tracking"
Questie's `Auto Track Quests` doesn't sync with game's `Automatic Quest Tracking`.
Maybe check at least in settings parsing at addon load that those are synced?

v6.10.1

[2022-05-14 15:52] Velarax commented on #3458
I am not a programmer so I won't be editing this software.

Latest update seems to have stopped resetting this setting, thanks for fixing it

[2022-05-15 10:14] #3476 closed

[2022-05-16 14:30] linda535 opened #3490 "Questie showing Noblegarden is active"
Wowhead shows it was last month. Thanks for making WoW classic "easier"!

[2022-05-17 05:11] Gogo1951 opened #3491 "LUA Error on Quest Turn In"
Message: ...erface\AddOns\Questie\Modules\Quest\QuestieQuest.lua:370: bad argument #1 to 'mod' (number expected, got nil)
Time: Tue May 17 00:10:24 2022
Count: 2
Stack: ...erface\AddOns\Questie\Modules\Quest\QuestieQuest.lua:370: bad argument #1 to 'mod' (number expected, got nil)
[string "@Interface\AddOns\TradeSkillMaster\LibTSM\Service\ErrorHandler.lua"]:761: in function <...Ons\TradeSkillMaste

[2022-05-17 05:12] Gogo1951 opened #3492 "Quest Announce is Broken"
I suspect you guys are doing this on purpose, but in the even that you just didn't test any of this before releasing it... quest announce is off by default for new installs of Questie.

Also, when you select "announce on quest completed" it also announce on quest turn in. The double announce is just annoying, was never the original intent of the Quest Announce feature.

[2022-05-17 05:17] BreakBB commented on #3491
Hey @Gogo1951 can you tell which quest it was you turned in?

[2022-05-17 05:21] BreakBB commented on #3492
@lbuchholz79 might be able to share insight on this as #3273 was the PR bringing this new feature in 😁

We will also look into it to get this fixed soon. Thanks for letting us know @Gogo1951

[2022-05-17 05:27] BreakBB commented on #3490
Hey @linda535 Sorry for missing the Noblegarden event. Since the dates change each year it is not that easy for us to know early enough. Also most of the time the date only changes for a few days, not a month like this year. We will have a deeper look to fix this for next year.

[2022-05-17 05:39] BreakBB commented on #3490
Well I took another look at various websites about the Noblegarden dates from the last years... No clue how our dates came in, but I think they were never correct.

It seems Noblegarden ends on either on the Monday or Tuesday after Easter and starts one week earlier. That makes it easier for us to "predict" the dates of the following years.

[2022-05-17 11:08] linda535 commented on #3490
Thank you for the reply. And thank you very much for the addon that makes this game so much easier and better.

[2022-05-17 19:40] Muehe commented on #3458
@Velarax That's ok, but then you will have to wait until we do this on our schedule.

The setting not changing back anymore after an update is an effect of the default being changed in a recent PR, but it shouldn't change back in the first place, for which I will create a new issue.

[2022-05-17 19:44] Muehe opened #3495 "Settings reset to defaults upon updates when they shouldn't"
[This comment](https://github.com/Questie/Questie/issues/3458#issuecomment-1121306569) seems to imply that settings are reverted to their defaults on updates, which shouldn't happen. Investigation is needed.

[2022-05-17 21:04] Muehe opened #3496 "Questie un-collapses Reputation headers"
Reported by `Lord Of Otakus#0001` on [Discord](https://discord.com/channels/263036731165638656/579966856085897216/976221331009970277):

[2022-05-17 21:07] Muehe commented on #3492
As TheCrux already explained the default was changed by a recent PR, but this also ties into issues #3458 and #3220 so be aware the default might stay a while.

[2022-05-17 21:11] Muehe commented on #3491
@Gogo1951 Also, does the error go away when you disable `TradeSkillMaster` addon?

[2022-05-17 21:41] BreakBB commented on #3491
Nah @Muehe I think I already found the issue, but wasn't able to test this yet. TSM only adds a custom error handler so that's the reason it appears in the stack trace.

[2022-05-17 23:07] Muehe opened #3497 "Localization should fall back between each other as definied, but always falls back to English"
I.e. esMX should fall back to esES it the latter has a translation but the former doesn't, instead it falls back to English.

Sub-issue: Changing the translation from `nil` to `true` should make fallback explicit.

[2022-05-17 23:45] Offroads opened #3498 "TBC quest missing tooltips - Disrupt the Greengill Coast"
## Description
The quest [[70] Disrupt the Greengill Coast (11541)] is missing objectives on the map and tooltips.
https://tbc.wowhead.com/npc=25073/darkspine-siren drops https://tbc.wowhead.com/item=34483/orb-of-murloc-control
You use those on https://tbc.wowhead.com/npc=25084/greengill-slave
It is completed in this area:
![image](https://user-images.githubusercontent.com/28876369/168931622-44e89

[2022-05-18 00:06] Offroads opened #3499 "TBC quest missing toolstips - Discovering Your Roots"
## Description
The quest [Discovering Your Roots ](https://tbc.wowhead.com/quest=11520/discovering-your-roots) is missing tooltips and map objectives.
You need to kill [Razorthorn Flayer](https://tbc.wowhead.com/npc=24920/razorthorn-flayer) to get [Razorthorn Flayer Gland](https://tbc.wowhead.com/item=34255/razorthorn-flayer-gland) which is used to tame a [Razorthorn Ravager](https://tbc.wowhead.c

[2022-05-18 08:39] BreakBB commented on #3495
My two cents: Iirc from the past this was not only an issue on update, but a general update. And also not really an issue from Questie, but the game itself not saving/resetting SavedVariables.

[2022-05-18 08:40] BreakBB commented on #3498
Great report @Offroads thanks! I will look into this soon and push an update.

[2022-05-18 08:43] BreakBB commented on #3499
Another great report, thanks @Offroads

My server didn't unlock Phase 4 yet, but will soon :tm:. I will fix this together with the other new quests once I can test it 👍🏻

[2022-05-18 08:51] BreakBB opened #3500 "Objectives for "Gaining the Advantage" are cluttering the map and should be removed"
## Description

Reported on Discord:

## Wowhead link

https://tbc.wowhead.com/quest=11875/gaining-the-advantage

## Screenshots

-

## Questie & WoW version

v6.10.2

[2022-05-18 13:03] Rewyn opened #3501 "Can't install from github via Ajour (no TBC release found)"
Yes, I know Ajour isn't further developed anymore, but it works perfectly fine in most cases for addons from github for me.
And this seems like an easy enough fix, so figured I'd give it a shot.
It basically just tells me there's no release available for TBC under the github releases. Not sure if its as simple as somehow tagging the releases as such, or if it just looks for something like "bcc" in

[2022-05-18 13:48] BreakBB commented on #3501
Hey @Rewyn

I agree with your that Ajour most likely just looks for `-tbc`, `-bcc` suffixes on the GitHub ZIPs.

We just publish one ZIP file which works on Classic Era, SoM and TBC. Therefore we don't have specific ZIP files for each game version.

I will talk with the team if we will change that, but I don't think it really is useful for an addon manager that is not actively developed anymore. E

[2022-05-18 17:21] Jokaleth opened #3502 "Constant Errors in Chat Box"
## Bug description
Occasionally get a ton of error notices, often completely filling the chat box. Happens randomly when doing quest things.

## Screenshots
![image](https://user-images.githubusercontent.com/87456827/169103757-d3d0883a-ba82-4266-9139-ed7da5c38b87.png)

## Questie & WoW version
Questie v6.10.2
WoW TBCC v2.5.4.43638

[2022-05-18 17:23] Jokaleth opened #3503 "Keeps automatically swapping to phase 4 of Isle despite being in 3.1"
## Bug description
As the title says, Questie keeps automatically switching the Isle Phase to be 4 when it should be in 3.1. The badge vendor/Anvil and Forge was completed this morning and it's been happening since then

## Screenshots
![image](https://user-images.githubusercontent.com/87456827/169104215-fef4d6f3-c890-4c20-98a3-887147f81800.png)

## Questie & WoW version
Questie v6.10.2
WoW TBCC v

[2022-05-18 17:58] BreakBB commented on #3503
Oh, that is clearly an issue then. Thanks for reporting this @Jokaleth we will look into it to get a fix out soon :)

[2022-05-18 18:04] #3503 closed

[2022-05-18 18:05] BreakBB commented on #3502
This is a known issue as described in #3412 We are working on a fix for this.

A workaround can be to disable the "LootReserve" Addon.

[2022-05-18 18:05] #3502 closed

[2022-05-18 20:01] lbuchholz79 commented on #3492
There is definitely an issue here. This is what happened:
Before the PR there was only one option "Announce objective completion to party members" (`Questie.db.char.questAnnounce`) that could be switched on or off to announce objective progress to the group.

With the PR that setting has been migrated to the new "Announce quest updates via chat" (`Questie.db.char.questAnnounceChannel`) channel opt

[2022-05-18 20:13] lbuchholz79 commented on #3492
Secondly, having account-wide or char-wide settings is not part of #3273 and that's a separate decision @BreakBB needs to make as it touches all setting dialogues.

Thirdly, despite the default being "off", if people enable these options deliberately, spamming of Questie can occur and is a(n intended) side effect. However, hiding or filtering such messages as proposed in #3220 is a totally differe

[2022-05-18 20:16] Muehe commented on #3492
Yes, they are technically separate issues, but might influence a decision regarding defaults here, so I wanted to link them just for context. Looking forward to to your findings.

FYI if you want to introduce and/or change stuff specifically when people update, and only once, you can add it to [Modules/Migration.lua](https://github.com/Questie/Questie/blob/e0585d3b04c24560c4983bc76fc9833cee4f11b2/

[2022-05-18 20:22] Muehe commented on #3492
P.S.: My current thinking is approach it in this order by the way:

1. Change announce defaults (or at least some of them) back to on
2. Add "Questie ShutUp!" option (defaulting to off)
3. Move settings to (account-wide) profile system

Main reason being the last step will probably necessitate a full settings reset to defaults for everybody, so everything else should ideally be taken care off by t

[2022-05-18 21:37] lbuchholz79 commented on #3492
I agree, but we need to agree on sensible defaults first.
As some users seem offended just by broadcasting objective progress, setting **all** options to "on" does not seem like the best idea to me,

Even if so, the "Shut Up" option should be implemented **first**.

Regarding account-wide settings: do people **only** want announcement options to be account wide or **all** Questie settings? In the

[2022-05-18 21:52] Muehe commented on #3492
I'm totally fine with defaulting just the completion announcement to on, and leaving the others off. This gives a sensible discoverability of the feature while being less intrusive then it could be, especially if the ShutUp option is added. If people in your group want you to turn the others on they will tell you I guess.

Order on the first two is not that important IMHO, they just both need to b

[2022-05-18 21:57] #3500 closed

[2022-05-18 22:16] #3499 closed

[2022-05-18 22:27] lbuchholz79 commented on #3492
@Gogo1951 I was unable to reproduce the double announce issue, unless you mean the yellow Blizzard chat messages and the Quest messages.
Only possible scenario is the QUEST_TURNED_IN event is fire twice for the same quest. Could you please provide more details and which options you have turned on (auto completion for instance)?

[2022-05-19 04:59] BreakBB commented on #3491
The linked commit above fixed this rare error.

[2022-05-19 04:59] #3491 closed

[2022-05-19 05:50] BreakBB commented on #3492
I agree to this procedure. If "Questie ShutUp" is added first that is also fine for me 👍🏻

Also the "account wide" vs "per character" settings are indeed historically based. I am quite sure Questie initially had all settings account wide, but requests came in for specific settings to be useful to change them per character, so we changed these.

A profile system is A) the defacto standard for bigge

[2022-05-19 14:45] Galenthor opened #3505 "show only quests for current zone"
I have been looking for awhile now to see if there is a way I can set this, since questie seems super focused on trying to show me everything at once... I am one of those players who prefer to try to do the quests one zone at a time, but I can't seem to find a way to get questie to only show me the quests for the zone I am currently in... is there any way I can get the addon to do that?

[2022-05-19 15:36] BreakBB commented on #3505
Hey @Galenthor Do you mean to only show the quests on the world map/minimap?

[2022-05-19 15:57] Jokaleth commented on #3502
I disabled that addon, but I am still getting the same errors.

[2022-05-19 17:46] Gogo1951 commented on #3492
I have auto-complete on, and auto-accept.

When I complete the objectives, I get a "Quest Complete Message" and when I turn the quest in, it fires again showing the same message. As far as I know, I don't have any other add-ons that would interfere with Questing, maybe Double Wide Quest Log, but I can't see that triggering a quest complete event.

[2022-05-19 17:51] Gogo1951 commented on #3492
You gotta ignore the people who get offended, mate. They're just trolls. Have a vision for what you want, and run with it. Ignore the haters.

The quest announce feature was designed to help spread awareness for Queste at the start of Classic. Questie came from private servers, and so a lot of private server players knew about it, but most of the people coming back for Classic weren't private serv

[2022-05-19 19:21] lbuchholz79 commented on #3492
I think nobody argues against Ace3 profile system, as it has everything one needs and is very simple to use, at least for devs. But I can tell you from my own little addon, that some users have their problems getting the hang of the various profiles and don't know if they are account, realm or char specific. Also the default Ace3 profile UI is not very intuitive either.

In my personal opinion, ac

[2022-05-19 19:28] lbuchholz79 commented on #3492
I thought as much, and activated these options y'day as well. Also running Double Wide Quest Log and Questie Event logging along with it. No turn-in event fired twice nor did the message. Maybe it was a specific quests?

[2022-05-19 19:33] Velarax commented on #3458
Yeah update before last I had to change the setting to "disabled" on every toon.  The latest update did not change those settings.

[2022-05-19 20:01] lbuchholz79 commented on #3492
Oh, I almost forgot. I'm on holiday next week, so no new input from my side meanwhile. Also I provided PR #3504 to fix the defaults and the unconditional announces on objectives progress.

[2022-05-19 21:21] Gogo1951 commented on #3505
This was a planned feature... to only show quests with objectives in the current zone in the tracker.

But it fell by the wayside.

[2022-05-19 21:24] Gogo1951 commented on #3505
This was working in the predictive routes branch that @AeroScripts had created about a year ago. Some of that code may still be salvageable.

[2022-05-20 02:27] Gogo1951 commented on #3491
Fixed in latest release.

[2022-05-20 02:39] Gogo1951 commented on #3492
Bite the bullet and switch to standard profiles... like every other addon uses at this point. (=

This was one of the goals of the Options UX Updates as well, to switch off the really janky UX around character or account-based settings.

[2022-05-20 12:13] linda535 opened #3507 "missing fisherman (sells two fish-cooking recipes)"
## Description
I only remembered him before I started the A Recipe For Death spider part on the coast of Silverpine because my bags were full.  He's at about 33 17. Thanks again for such a VERY helpful addon.

[2022-05-20 12:39] Muehe commented on #3495
Yeah that happens. Ideally we should force a reload when we detect a setting migration/change, as it will persist the changes to disk.

But in this particular case the user had the setting changing back to the default and disabled it on every update, until the recent announce PR changed the default to off.

[2022-05-20 17:23] #3220 closed

[2022-05-20 18:09] Muehe commented on #3220
FYI @Velarax, will be included in next release.

[2022-05-20 18:13] Muehe commented on #3220
@Rumchiller Named the option like you named the addon as an homage, hope that's OK.

Any particular reason you took it off CurseForge? Might be good to have a way for people to get rid of it without installing Questie.

[2022-05-20 18:13] Velarax commented on #3220
That's wonderful!  Many thanks.

[2022-05-20 18:54] Rumchiller commented on #3220
@Muehe Yeah, of course, I'm very pleased, that you named it like this as an homage.
Regarding the CurseForge project: "Someone" complained about the addon logo some time ago, since it does not belong to me^^ I'm just updated the logo, so the project should be online in some time.
I'm sorry, that I won't keep the addon updated, since I don't have time now for WoW. Everyone is welcome to copy the pr

[2022-05-23 02:31] Gogo1951 commented on #3492
![image](https://user-images.githubusercontent.com/55365231/169732350-906c8af0-5465-4ca0-b938-4b029e8716cf.png)

Still doing the double announce, once when you complete. Once at turn in.

Note how it announced the quest AFTER picking up the follow-up quest.

[2022-05-23 02:59] Gogo1951 commented on #3505
There was a popular "Tracker" add-on in Wrath that had this behavior. People coming back for Wrath will be looking for something like this. Just a "no hassle" tracker that auto sorts what they need to look at in the zone. No manual interaction at all, ideally.

Quest's "by zone" is really dumb, totally useless since so many quests have objectives outside of their set zone. It doesn't really help o

[2022-05-23 10:50] 7Krown7 commented on #1127
This work now. But not past lvl 70. Make me sad :(

[2022-05-23 10:58] 7Krown7 opened #3511 "XP rewards at lvl 70 in TBC classic"
I was searching for optimal quests to turn in when WOTLK will come out.
Turns out when you reach max lvl (70), questie do not show the xp rate given by quests when you shift a quest on the map.

Maybe there is an option to restore the option but i can't find it :(

Help please

[2022-05-23 13:37] Galenthor commented on #3505
when I am working on quests in a specific zone, I only want to see the
quests for that zone, and no matter what I do, questie will not stop trying
to smother my screen with quests from other zones, to the point of
sometimes not showing the quests for the zone I am in at all... I have
tried to untrack the other zone's quests, but the addon just ignores
that... I am trying to focus on stuff in blade

[2022-05-23 14:14] CD-69 commented on #3430
Hey – so I went back to Thelsamar and checked, the NPC patrols through the centre of the village, with a short time spent stationary at either end; the co-ords for [11] Rat Catching look fine. I must have just kept missing him. Quest handed-in so not sure if I can see the patrol lines.

From: Björn Böing ***@***.***>
Sent: 11 May 2022 09:26
To: Questie/Questie ***@***.***>
Cc: CD-69 ***@***.***>;

[2022-05-23 15:34] Laumesis commented on #3492
That's debatable if that is a double announce. It depends heavily how you have your chat (windows) set up. 😛

[2022-05-23 16:06] Laumesis commented on #3114
Can be closed, already fixed in #3509

[2022-05-23 16:06] #3114 closed

[2022-05-23 16:09] Laumesis commented on #3464
I'm not sure if there is github issue for this already. But yeah, SmoothReset() is known to derp those. Will be fixed at some point

[2022-05-23 19:44] BreakBB commented on #3507
Hey @linda535 do you have a name or link for the NPC that is missing?

[2022-05-23 19:49] linda535 commented on #3507
Sorry. I hate incomplete issues and I was working on too many things, lol.
He's in Silverpine at 33.0 17.8 and name is Killian Sanatha. Thanks!

[2022-05-23 20:01] BreakBB commented on #3507
Thanks for the quick response. Well he only sells recipies, but doesn't seem to be a trainer 🤔

Currently Questie only shows trainers, so it is not entirely the same. But I agree that he seems to be an interesting NPC which we should add in some way.

[2022-05-23 20:11] Gogo1951 commented on #3492
@Laumesis

It announced twice. Once when the last objective was completed. That's good.

Once at turn-in. That's bad.

Has nothing to do with chat windows as far as I know. It's firing twice.

[2022-05-23 22:03] Laumesis commented on #3492
@Gogo1951  Well, I guess I didn't and do not understand what your issue is as your screen shots didn't show it at all.

[2022-05-23 22:40] linda535 commented on #3507
He does sell the two recipes and he's VERY important to those with little or low-level bag space, lol. Thanks, Linda

[2022-05-23 23:44] Gogo1951 commented on #3492
@Laumesis the "complete" message announces twice.

![Pasted_Image_5_23_22__6_39_PM](https://user-images.githubusercontent.com/55365231/169921184-c6cf9eea-21ca-434a-9277-ba9cbc13fa3a.png)

The screenshot showed it completing the quest (cuz you'd have to in order to get the follow up), then picking up the follow up, then announcing the completion of the quest a second time. It didn't show the fist a

[2022-05-23 23:48] Laumesis commented on #3492
@Gogo1951 Your screen shot has only one Questie message:

So I have no idea what you are talking about 🤷 .

[2022-05-24 00:16] Gogo1951 commented on #3492
@BreakBB You marked this closed, and @Laumesis doesn't seem to understand my bug report. Do you think the double announce is fixed?

[2022-05-24 00:18] Laumesis commented on #3492
@Gogo1951 Your latest explanation even is contradiction.

and

[2022-05-24 00:28] Gogo1951 commented on #3492
@Laumesis Go do a quest. It'll announce when you complete the quest. Then it'll announce the same thing again when you turn it in. It should not announce on turn in. I don't know what else to say here. I feel like you're just trolling me.

[2022-05-24 00:33] Gogo1951 commented on #3507
Hey @linda535 ,

Check out ATT. IT works great in conjunction with Questie for showing all the missing recipes and such.

[2022-05-24 00:41] Laumesis commented on #3492
@Gogo1951 Dunno who is trolling who 🤷 ?
I still don't know what your issue is. Have you tried this?
![image](https://user-images.githubusercontent.com/75958501/169926013-e457508d-05a1-4c4e-86e9-224aeb3e37fd.png)

[2022-05-24 00:52] Gogo1951 commented on #3492
@Laumesis So you're saying it's supposed to announce when the quest is "turned in" and you call that "quest completed"?

And you think "Objective completed" should be when the quest is done? The way the feature used to work?

Even though "Objectie" (note the singular) doesn't actually announce when legs of the quest are done, it only announces when all are done? Fuck the UX here is just garbage. I

[2022-05-24 00:54] Laumesis commented on #3492
@Gogo1951 I'm glad to hear I could help you.

[2022-05-24 01:56] Muehe commented on #3492
@lbuchholz79 FYI :point_up_2:

My workaround is prefixing the number with issue/PR when I use [keywords](https://docs.github.com/en/enterprise-server@3.4/get-started/writing-on-github/working-with-advanced-formatting/using-keywords-in-issues-and-pull-requests), e.g. "partially fixes issue #3492".

[2022-05-24 02:00] Gogo1951 commented on #3492
@Muehe Double Announce is "fixed"... but the UX and copy on these options is still atrocious.

No clue why anyone would want to have options here, it's just on or off. If it's on, it should do completed (the way it used to), and great... add in quest failed. Nobody is going to want to just announce quest fails, right? So like why give that as an option.

Better solution would just be to have "Ques

[2022-05-24 02:07] Muehe commented on #3492
PRs are always welcome. :wave:

[2022-05-24 02:13] Muehe commented on #3492
Oh damn, I think you misunderstood @Gogo1951. I just re-opened this issue. It was accidentally closed by merging #3504, because that used a keyword in the PR description.

[2022-05-24 05:13] BreakBB commented on #3492
So imo what is left to do for this issue is to rename the existing "Quest completed" setting to "Quest turned in". That should make it more clear what this option is doing.

And we have to open up a new issue for the profile system we want to add.

[2022-05-24 08:42] lbuchholz79 commented on #3492
@Gogo1951: There is a "user story" behind in #3273. Just because you don't see the benefit or it's not phrased as a perfret IREB phrase doesn't make a less a user request. I'm not saying my request stands for hundreds other people, but just outright rejecting it is a very stubborn and short-sighted view on things.
I agree naming is bad, but at at least its consistent across all other Questie optio

[2022-05-24 12:22] linda535 commented on #3507
I have ATT and recently toned it down. I found that ATT showed so much info that I couldn't see important info like how many of an item were in my bank or other alts' bags or banks.
In the case of that NPC, I was more interested to see if my recollection was right that there was a vendor there to sell junk to. Miss my 30 slot retail bags, lol. Thanks for the advice!

[2022-05-24 16:11] Essabelle opened #3515 "Missing Quest: 5678 Arcane Feedback (BCC)"
Description: Questie reported that Quest 5678 ([Arcane Feedback)](https://tbc.wowhead.com/quest=5678/arcane-feedback) is missing

Wowhead link: https://tbc.wowhead.com/quest=5678/arcane-feedback

Questie version: 6.11.0

Wow version: 2.5.4 (20504) The Burning Crusade

## Description

## Wowhead link

## Screenshots

## Questie & WoW version

[2022-05-24 17:15] Laumesis commented on #3501
I didn't search, but any pointer to documentation of `releasae.json`?

[2022-05-24 17:51] Laumesis commented on #3501
@Talryn If you want help even more, do you know some project using the packager and producing a single ZIP which works in all game versions?

[2022-05-24 17:58] Talryn commented on #3501
I cannot think of one but perhaps it is as simple as using the WeakAuras example and just making one release entry for each game version but they all point to the same file.

Here is the WeakAuras release.json:

[code]

If you wanted to generate the release.json, I think you could use this as a template but the file name would be the same for each game version.  Just update the interface for each

[2022-05-24 18:15] Talryn commented on #3501
It looks like you can simplify it by having multiple metadata entries.

From `https://github.com/mooreatv/AuctionDB`:

[code]

[2022-05-24 18:32] Laumesis commented on #3466
So tooltip stuff of both `extraObjectives` and `requiredSourceItems` are not removed once `isComplete ~= nil` (`1`or `-1`). Correct?

I think it will be easy fix after few other fixes / refactors are in place.

[2022-05-24 18:38] Gogo1951 commented on #3492
Good software takes a village. UX Designers, Devs, Testers, PMs. It takes Translators, and community managers, and marketing. It's a lot more than just devs. But you guys are shit to everyone who doesn't write code.

This "PRs are welcome" echos that. It's just a shit comment, designed to say, "If you don't dev, you're nothing." And that's the short sighted part. Same as the Discord roles. Same as

[2022-05-24 19:50] Muehe commented on #3492
I beg to differ.

Says the guy who has been leaving passive-aggressive or outright insulting comments in basically every issue he is in for the past weeks. Look you know why I just said "PRs are welcome"? Because I'm not reading through another text wall that is 50% a rant about how we are the worst people to ever be born and another 40% your irrelevant musings about project leadership.

I have se

[2022-05-24 19:50] #3492 closed

[2022-05-24 23:17] #3501 closed

[2022-05-24 23:21] Muehe commented on #3501
@Rewyn @Talryn I have added automatic creation of a release file to our build script. I also created a file manually and added it to our latest release (6.11.0) for testing purposes.

FYI @BreakBB

[2022-05-25 03:52] Selket2 opened #3516 "Download bug"
TBC I cant download questie through Curseforge. It literally just sits there 'processing'. It doesnt download.

[2022-05-25 05:01] BreakBB commented on #3516
Hey @Selket2

If you try to download it manually then you can also use the ZIP from our [GitHub release](https://github.com/Questie/Questie/releases/download/v6.11.0/Questie-v6.11.0.zip).

If you use the CurseForge client then try restarting it. Not much we can do about it, sorry.

[2022-05-25 12:42] Cabro opened #3517 ""The Deadliest Trap Ever Laid" daily quests are not shown."
Quests id: 11097 for scryer and 11101 for aldor, should show up once you get revered with Netherwing.

TBC

[2022-05-25 14:28] Cabro opened #3518 ""Escape from Skettis" cannot be autoaccepted."
Unlike all the other daily quests, this one is not auto picked up by Questie, even with option enabled.
https://tbc.wowhead.com/quest=11085/escape-from-skettis

[2022-05-25 15:26] Rewyn commented on #3501
This went far beyond what I expected, works like a charm for the latest release.

[2022-05-25 16:58] Toxicreaction opened #3519 "Quest doesn't show the tracker come up when killing mobs"
While questing on one of my toons I notice the tracker only works on the little quest tracker on the side vs coming on the middle of the screen announcing the tracker. While on the same computer but other toons I am noticing that the tracker shows on the left side but also will show on the screen the count of something where it would track the quest. I have reinstalled questie, my game and removed

[2022-05-25 20:25] Laumesis commented on #3454
The "error" is getting outputed for every objective of type `event` or `killcredit` (is there even such type?).
Seems other parts of code rely the id to exists, which might results some bugs.. I don't know if those are error-catch run parts.

`.Id` assigned to `quest.Objectives[ ].Id` :
https://github.com/Questie/Questie/blob/15d05effdb25b527c508f25b5584699bb83f62c9/Modules/Quest/QuestieQuest.lua#

[2022-05-25 20:46] Laumesis commented on #3466
Update:
This is in line with all other tooltip stuff. A quest and its objectives are kept in tooltips until it gets completed (<- blizzard word) (read: turned in).
The tooltip text should get changed to green once quest is complete. That's a bug at least.

Some with more power may comment on if intended behavior should be changed.

@Gogo1951 please do not reply, this is not to you.

[2022-05-25 22:46] Cabro commented on #3518
the same is true for https://tbc.wowhead.com/quest=10425/escape-from-the-staging-grounds

[2022-05-25 22:49] Laumesis commented on #3518
Please add questie version, it helps at later time when dealing with the issue.

[2022-05-25 23:22] Velarax commented on #3220
Just tried the new Questie and the SUQ works great!  Thanks for doing this.  Totally solved my issue and that of my friends :D

[2022-05-25 23:29] Cabro commented on #3518
Questie 6.11.0

[2022-05-26 00:05] qKorey opened #3521 "Error during Initialization"
Having an error randomly pop up, not sure what it could be.

![Screenshot_1](https://user-images.githubusercontent.com/106286158/170388755-85d718ac-f494-4169-8ae1-41d095b3a85d.png)

Im running Version 6.11.0 on TBC version of the game.

[2022-05-26 01:09] MyTechnoHunter commented on #3521
Open questie options and go to the advancedand tell  it to rebuild the database

[2022-05-26 07:34] Laumesis opened #3522 "Repeatedly removing old daily quest tooltips at each daily turnin/pickup after dailies changed"
Repeatedly removing old daily quest tooltips at each daily turnin/pickup after dailies changed

v6.11.0

[2022-05-26 09:25] BreakBB commented on #3518
This is an escort quest and Questie never auto pick ups these kind of quests.

Not sure if this quest should be an exception since it is a daily :thinking:

[2022-05-26 21:37] BreakBB commented on #3511
Hey @7Krown7 I wonder why you closed this issue.

We are actually planning to (at least) show XP values on quests at max level so you can save them for turn in as a head start for Wrath.

For me I'll reopen it since I know many other users asking for this.

[2022-05-27 15:17] Cabro commented on #3518
It never occurred to me that Questie is not picking up escorts. Would it be a good idea to make a checkbox for this? disabled by default

[2022-05-27 15:23] Dichotomia opened #3523 "Error GetAllLeaderBoardDetails"
![image](https://user-images.githubusercontent.com/5593198/170729824-0e60e4c0-53d5-4d2c-8feb-926c095e6575.png)

[2022-05-27 15:44] Muehe commented on #3523
Already tracked in #3412 so I will close here. Thanks anyway for reporting. :+1:

[2022-05-27 15:44] #3523 closed

[2022-05-27 15:45] Muehe commented on #3521
@qKorey Any updates? Did recompiling the DB help?

[2022-05-27 15:49] #3516 closed

[2022-05-27 16:48] Iowerth opened #3524 "Disable showing icons on continents"
Hi. Please add option to enable/disable showing icons on continent map as it made here https://www.curseforge.com/wow/addons/handynotes_npcs-burning-crusade-classic
It would be very good to user may choose which icons to show: for example, show quest icons (? and !) but not show NPC icons like repair.

[2022-05-28 01:30] Laumesis opened #3525 "Quest completed/abandoned is no more sent in addon comms. Regression in desync-fix"
This  was called in `QuestieEventHandler` but isn't called in `QuestEventHandler`
[code]

[2022-05-28 01:31] Laumesis opened #3526 "Play sound when quest objective is finished"
Play sound when quest objective is finished. So sleepy player can stop grinding quest mobs.

[2022-05-28 01:38] Laumesis commented on #3525
Also quest accepting is not sending anything.

[2022-05-28 16:18] Laumesis opened #3529 "Table indexes may not exist anymore when callback is run"
https://github.com/Questie/Questie/blob/bb28b4f46c9782d9aeef9cdbc1ce51a12c5a1ba2/Modules/Network/QuestieCommsData.lua#L66

[2022-05-28 16:32] Laumesis commented on #3525
#3452

[2022-05-28 16:34] Laumesis commented on #3246
#3525

[2022-05-28 17:42] Laumesis opened #3530 "Is quest.isComplete used anywhere? Or can it be removed?"
https://github.com/Questie/Questie/blob/bb28b4f46c9782d9aeef9cdbc1ce51a12c5a1ba2/Modules/Quest/QuestieQuest.lua#L1033

[2022-05-28 18:39] Toxicreaction commented on #3519
Still an issue anyone have any ideas?

[2022-05-28 18:40] Laumesis commented on #3519
Could you give a screenshot telling what you mean, please. Sorry that I can't understand from explanation what you mean.

[2022-05-28 21:25] Gogo1951 commented on #3526
Exited in the Routes branch.

https://github.com/Questie/Questie/tree/routes

We had an announce sound for completing an objective, and a sound for completing a quest. There was logic set up to not play the objective sound if it completed the quest.

From the testers we had running this, it was a really popular feature. Nice little audio reward for players.

[2022-05-28 23:03] #3412 closed

[2022-05-29 00:04] Laumesis commented on #3412
Fixed in v6.12.0

[2022-05-29 02:06] yavour opened #3531 "GetQuest: The quest doesn't exist in QuestLogCache. 7261"
Recently I noticed questie has some glitches. Ex. The quest icons did not show corretly on big map or for certain characters even he does not accept a quest the icons still show on big map.
And it constantly reported such error info in chat window. Screenshot as the following:
![image](https://user-images.githubusercontent.com/1232373/170849002-24ddde5f-da7a-45b4-8668-72d8b5e83500.png)

I tried re

[2022-05-29 02:11] Muehe commented on #3531
@yavour Can you please test if deactivating `NDui` addon removes the error?

Quite a lot of things changed in Questie's backend in the last versions and if `NDui` uses our code that might lead to this problem.

[2022-05-29 02:24] yavour commented on #3531
OK I see. I will test that and let you know. Yes these errors just popped up only in the recent 1-2 versions. And I have uesed questie and NDui together since long ago.

[2022-05-29 07:39] yavour commented on #3531
By disbling NDui, these errors are gone during character initialization. And when turning on NDui again, these errors appeared again.

[2022-05-29 12:33] drejjmit commented on #3518
https://github.com/Questie/Questie/blob/d1e65d0796de3ccbe7712a520f74de2d7748a54c/Modules/Auto/DisallowedIDs.lua#L146 This is a list of all disallowed quests that won't be auto accepted by Questie. There is no option to still pick these up. There must be some other addon that auto picks these up for you.

[2022-05-29 15:45] stirnergang opened #3532 "not able to get quests where i have to talk to someone appear on the map"
as the title says quests where I'm meant to talk to someone and its not the final phase of the quest seem to be bugged for me right now or not working.
![image](https://user-images.githubusercontent.com/106483225/170878248-2a70b311-454a-4843-b0fa-e032ae26c0a9.png)
![image](https://user-images.githubusercontent.com/106483225/170878256-800debd9-8a6c-44f4-9193-be8d6c62f2e8.png)
Hopefully these images

[2022-05-29 15:59] Laumesis commented on #3532
Does it show up if you do  `/reload` ?

[2022-05-29 16:05] stirnergang commented on #3532
nope

[2022-05-29 16:05] Jokaleth commented on #3532
I am having the same issue and I can confirm it does not show up with a reload or even a relog.

 It does not show up on the minimap or regular map

![image](https://user-images.githubusercontent.com/87456827/170879441-f6d85226-ec21-42cc-8b10-ecded7020d11.png)

![image](https://user-images.githubusercontent.com/87456827/170879462-d7e6599b-21e3-4316-b2d1-b49935a0f781.png)

[2022-05-29 16:08] Laumesis commented on #3532
are you still on the quest?
Could you show output of
`/dump GetQuestLogTitle(GetQuestLogIndexByID(1070))`
and
`/dump C_QuestLog.GetQuestObjectives(1070)`
please.

[2022-05-29 16:10] stirnergang commented on #3532
![image](https://user-images.githubusercontent.com/106483225/170879681-8145d34d-1558-47ac-ad12-47daee68930d.png)
![image](https://user-images.githubusercontent.com/106483225/170879691-f3ae5c24-19eb-4ca9-90df-1ce6107df7c3.png)
![image](https://user-images.githubusercontent.com/106483225/170879700-a627caee-77c6-499d-b50b-38305cfdb3a9.png)
![image](https://user-images.githubusercontent.com/106483225/

[2022-05-29 16:12] Laumesis commented on #3532
Thank you for report. It is a new bug in v6.12.0 code. I'll fix it.

[2022-05-29 16:13] stirnergang commented on #3532
ah nice

[2022-05-29 17:07] Laumesis opened #3534 "[bug] requiredLevel gets set at quest object creation and won't change dynamically as should"
https://github.com/Questie/Questie/blob/d1e65d0796de3ccbe7712a520f74de2d7748a54c/Database/QuestieDB.lua#L680-L682
This overwrites `QO.requiredLevel` set earlier from `rawdata[ ]`.

Most places query the `requiredLevel` directly from DB, and use it through `GetTbcLevel( )` function. These won't bug out.
But there are some places using  `quest.requiredLevel` (and  feeding it to `GetTbcLevel( )`). Th

[2022-05-29 23:34] #3532 closed

[2022-05-30 00:15] Laumesis commented on #3532
Fixed in v6.12.1

[2022-05-30 13:10] Toxicreaction commented on #3519
Yep no problem. So to specify the center of the screen tracking I am referring to is the big yellow at the top of my screenshot. The regular tracker is on the right side. How do I make it so the center tracker shows as well?
![InkedWoWScrnShot_053022_090712_LI](https://user-images.githubusercontent.com/106268279/170999158-3c5fe612-7579-445f-bef4-5de2aa07edf3.jpg)

[2022-05-30 13:25] Laumesis commented on #3519
"The center tracker" comes from default game interface, not from Questie. And Questie *should* not affect it.

Have you tested disabling *all* addons to see if it works then?

[2022-05-30 18:43] Toxicreaction commented on #3519
Yea, I have done that. To note it works on all my alts but not my main. Is there a command I can type in that would turn it back on by chance?

[2022-05-31 00:51] Muehe opened #3536 "More changed texts"
Thanks @Dom6#6515 for report

[Blizzard renamed NPC Finkle Einhorn](https://www.wowhead.com/news/finkle-einhorn-renamed-more-transphobic-sexual-and-racially-suggestive-dialogue-324490) and changed item names and texts referencing it. The texts and their translation that we use need to be updated.

[2022-05-31 00:53] Muehe commented on #3536
Seems we also have a lot off (Afra)siabi references left.

[Another article](https://www.wowhead.com/news/references-to-alex-afrasiabi-removed-in-world-of-warcraft-323588)

[2022-05-31 01:02] Muehe commented on #1335
Users Pan#0003 and Dom6#6515 both reported on Discord that quest 5166 and 5167 are **not** repeatable.

I'm not sure if or when this changed, but I'll change it to what Wowhead shows right now, which is that 5067 and 5068 are repeatable and 5063, 5166, and 5167 are not repeatable, for both expansions.

[2022-05-31 09:29] Zarak456 opened #3537 "Hellfire Fortifications quest"
## Description
Hellfire Fortifications shows as level 60 quest. It should be a level 55 quest with no quest level. It may be a level -1 quest.  (That it will show as your level, as level 60 quest if you're 60 and a level 70 quest if you're 70)

## Wowhead link
https://tbc.wowhead.com/quest=10110/hellfire-fortifications

##Screenshot
![hellfire fortification](https://user-images.githubusercontent.c

[2022-05-31 09:35] Zarak456 opened #3538 "The Deadliest Trap Ever Laid quest"
## Description
The Deadliest Trap Ever Laid quest don’t shows on map as  blue !  (missing on map)

## Wowhead link
https://tbc.wowhead.com/quest=11101/the-deadliest-trap-ever-laid

##Screenshot
![deadliest trap ever laid 1](https://user-images.githubusercontent.com/106586294/171666586-5f6991a5-2443-4319-a89a-5452c83aa10e.png)
![deadliest trap ever laid 2](https://user-images.githubusercontent.com/

[2022-05-31 13:47] Zarak456 commented on #3537
i have lvl 70 and questie shows me that it is lvl 60 quest (low lvl quest) but in my quest log i have it in yellow color

[2022-05-31 14:06] drejjmit commented on #3537
Yes, then it should be quest level -1 and not 60

[2022-05-31 14:49] Zarak456 commented on #3537
yes its bugged

[2022-05-31 17:24] Muehe commented on #1335
Some new info from Dom6 via [Discord message](https://discord.com/channels/242423099184775169/616613385492103168/923210622508884008) from [All the Things](https://www.curseforge.com/wow/addons/all-the-things):

![pic_related](https://cdn.discordapp.com/attachments/579966856085897216/981063203964452934/unknown.png)

Screenshot says 5063 is repeatable, contrary to what Wowhead says, and 5166 and 517

[2022-05-31 17:33] Muehe opened #3539 "Repeatable flags of Bloodsail Bucaneer reputation quests"
Reported by Dom6#6515 [on Discord](https://discord.com/channels/263036731165638656/579966856085897216/981065551994564608)

TBC
Questie 6.12.1

[2022-05-31 22:09] Muehe opened #3540 "Addon communitcations between Questie and Reputable can lead to network problems for users of Reputable"
Thanks @Road-block for reporting ([on Discord](https://discord.com/channels/263036731165638656/579966856085897216/981193094609395772)).

TBC
Questie 6.12.1 and lower

We use data from [Reputable](https://www.curseforge.com/wow/addons/reputable) sent over the [SendAddonMessage](https://wowpedia.fandom.com/wiki/API_C_ChatInfo.SendAddonMessage) interface for daily quests.

The way we do it right now

[2022-06-01 11:13] artscout opened #3541 "Questie Lua question"
Hey guys!
I wanted to ask you directly cause it really will save me a lot of time. I'm going to add Questie integration to map addon (carbonite) as option. So can you tell me which functions doing updates and drawing quest objectives icons and quest givers icons on the map? We do have our own quest module but I wanted to give users an option so when they use your addon they don't have to open bliz

[2022-06-02 05:19] Nevicar opened #3542 "Print Quest Completion Dialogue to Chat Window"
## Description

If possible, I think that adding a check box under or around "Auto Complete" that offers "Print Completion Text" would be wonderful. I use auto complete just for ease and would appreciate having the quest completion dialogue printed out so that I can read it as I leave. AutoTurnIn for retail does this by default and it's very useful.

Thanks for readin!

[2022-06-02 09:20] BreakBB commented on #3542
Hey @Nevicar to make sure we understand your request correct. You want to get the text that is shown in the NPC dialog before clicking "Complete" to turn in the quest, right?

[2022-06-02 15:50] #3538 closed

[2022-06-02 15:50] #3537 closed

[2022-06-02 16:04] Zarak456 opened #3543 "Hellfire Fortifications quest"
## Description
Hellfire Fortifications show as level 60 quest. It should be a level 55 quest with no quest level. It may be a level -1 quest.  (That it will show as your level, as level 60 quest if you're 60 and a level 70 quest if you're 70)

## Wowhead link
https://tbc.wowhead.com/quest=10110/hellfire-fortifications

## Screenshots
![hellfire fortification](https://user-images.githubusercontent.

[2022-06-02 16:08] Zarak456 opened #3544 "The Deadliest Trap Ever Laid quest"
## Description
The Deadliest Trap Ever Laid quest don’t show on map as  blue !  (missing on map)

## Wowhead link
https://tbc.wowhead.com/quest=11101/the-deadliest-trap-ever-laid

## Screenshots
![deadliest trap ever laid 1](https://user-images.githubusercontent.com/106586294/171674903-5d2ac33f-308a-44b9-95ea-2d0c3bf7b33a.png)
![deadliest trap ever laid 2](https://user-images.githubusercontent.com

[2022-06-03 08:11] BreakBB opened #3546 "Tracker default size too big"
## Bug description

When no quest is tracked on the Tracker it seems the size of the Tracker is too big. This was reported [on Discord](https://discord.com/channels/263036731165638656/809852390232031232/981964036293922858) and is best visible with the Tracker background enabled.

## Screenshots

![unknown-5.png](https://user-images.githubusercontent.com/33514570/171815234-87924d15-7edb-4528-8d36-0

[2022-06-05 12:18] Cerby3BR opened #3550 "A Charitable Donation [11545] is unavailable once the character is exalted with Shattered Sun Offensive"
https://www.wowhead.com/quest=11545/a-charitable-donation
(No tbc.wowhead link yet)

Questie ver. 6.12.1
WoW BCC

[2022-06-05 22:30] Muehe opened #3551 "Quests that will be available soon are shown as already available"
Reported by Knoxley#4444 ([on Discord](https://discord.com/channels/263036731165638656/579966856085897216/982982971558608947))

Questie 6.12.1
All expansions

E.g. quest 5623 is shown from level 4, but has required level 5, so it can't be picked up yet. The silver exclamation mark is meant to signify this, but the tooltip text still says the quest is available

Instead it should say "Available at

[2022-06-05 22:52] Muehe opened #3552 "Lag spikes when auto-accepting from specific NPC while having Leatrix Plus installed"
Reported by Dom6#6515 ([on Discord](https://discord.com/channels/263036731165638656/579966856085897216/983100584846569522))

[2022-06-05 23:49] Laumesis commented on #3402
Discord report, which is mosty likely also id overflow:

![image](https://user-images.githubusercontent.com/75958501/172075618-6e3327eb-d90e-4074-b02f-c27c25ae02df.png)

[2022-06-07 06:29] huuwap opened #3553 "Missing in the Ghostlands - Marker appears, quest not available when condition is met"
## Description
Zone: Silvermoon
Quest: Missing in the Ghostlands
Location: Next to mailbox at Fairbreeze Village
Issue: Quest marker appears on map, but quest is not available IF the player has discovered and accepted the next quest in the chain before accepting it.

## Wowhead link
https://tbc.wowhead.com/quest=9144/missing-in-the-ghostlands#comments:id=5181945

## Screenshots
![image](https://us

[2022-06-07 06:31] Feronas commented on #3397
@BreakBB Dear Björn, kind reminder :) the following 2 errors remains from the original issue.
![image](https://user-images.githubusercontent.com/65334149/172310692-8de14fbd-d51a-4e3e-985c-c48b2b15e48c.png)
many thanks!

[2022-06-07 18:53] #1335 closed

[2022-06-07 19:32] Muehe commented on #1882
Re-tested in TBC PTR (Questie 6.12.1), the quest turn-in is correctly displayed. Data suggests it should be the same for Classic. There seems to be some issue with the quest chain data corrected in #1817 but that's a separate problem.

![Screenshot_20220607_212351](https://user-images.githubusercontent.com/8838573/172466728-de47eedc-9aff-4f63-a06f-91409de2c6c1.png)

[2022-06-07 19:34] Muehe commented on #1817
We need to re-check this fix, it doesn't seem to work that way, as 2299 is still available when 2281 is already picked up. The solution also disregards Nightelf quests. [This quest](https://classic.wowhead.com/quest=2241/the-apple-falls) is a good entry point to see the three different chains.

[2022-06-07 22:24] #3551 closed

[2022-06-10 05:57] yavour commented on #3531
Hi Muche, any updates for this issue? Or any workaround? The current version of Questie I am using is 6.12.1 for BCC2.5.4

[2022-06-11 15:16] Muehe commented on #3531
@yavour Sorry for not being clear earlier, I think what happens here is that Questie is only printing the error, but the problem is actually that NDui is using our code (that changed) in a (now) wrong way, that creates this error. They have to fix this on their end I believe.

If this turns out to be an incorrect assessment feel free to re-open this issue or create a new one, but until then I'm su

[2022-06-11 15:16] #3531 closed

[2022-06-11 15:24] Muehe commented on #3541
Well AFAIK most map addons just overwrite the WORLD_MAP_FRAME or whatever it's called and when doing that Questie should "just work"™.

As for how we actually put icons on the map, we use the the HereBeDragons library and have a draw queue that delivers notes to it over time so as to not lag out the client on re-draws.

Some basic notes on how to use our code [can be found here](https://github.com

[2022-06-11 15:26] Muehe commented on #3521
Assumed solved, please re-open or create a new issue if you still have problems.

[2022-06-11 15:26] #3521 closed

[2022-06-11 15:35] Muehe commented on #3519
@Toxicreaction If this also happens with no addons enabled it's probably not a Questie problem. I'd suggest you contact Blizzard support and let them know the problem happens without any addons on a fresh install. If you find (or have found) a solution feel free to post it here.

[2022-06-11 15:35] #3519 closed

[2022-06-11 17:06] artscout commented on #3541
Thank you. I will look into that.

[2022-06-12 17:29] Gogo1951 opened #3557 "[[70] Stasis Chambers of Bash'ir (10974)]"
Missing turn in / completion objectives.

[2022-06-12 17:30] Gogo1951 commented on #3557
Nope was just the raid / in-instance bug that kept this from loading data properly.

[2022-06-12 17:30] #3557 closed

[2022-06-12 22:04] BreakBB opened #3558 "Encoded Fragments drop from more than just Oozes"
## Description

Reported [on Discord](https://discord.com/channels/263036731165638656/809852390232031232/985604105932243064).

For the quest [Encoded Fragments](https://tbc.wowhead.com/quest=8235/encoded-fragments) the required items are listed to drop from many mobs in Aszhara.

The database DOES reflect that, but a correction for Classic changes this to only drop from Oozes. To fix this the TBC

[2022-06-14 14:53] michixlol opened #3561 "Is it possible to NOT show reputation rewards on quests like before?"
Hey,

it's just too much information to me to see the 2 shaking hands on every quest I look at and to be viewed with every rep reward. I just.. don't want to see it. And I tried and tried, but I can't find an option to NOT show reputation rewards on quest icons. Isn't it possible? As far as I know they were not shown when I last used questie.

Ty,
Michi

[2022-06-17 10:07] theoriginalmre opened #3565 "Quest Tracker font outline"
Can you please add the ability to have outlines for the fonts in the Quest Tracker?

[2022-06-18 05:23] silverhawke249 opened #3567 "Auto-hiding tracker in instances"
## Description

Currently, Questie offers the option to auto-minimize tracker in dungeons (which I assume, works in raids/battlegrounds/arenas as well). Is it possible to add the option to completely hide the tracker in instances? Perhaps even a more fine-tuned setting like "Don't change/Minimize tracker/Hide tracker" for each type of instance (dungeon/raid/battleground/arena).

[2022-06-18 20:54] Zedseayou commented on #2599
Not sure if I should open a new issue for this, but I don't think the above is actually true anymore. Having done the orc version, the Undercity version continues to show on Questie but no quest is offered if I try to talk to Godrick Farsan.

[2022-06-19 10:42] BreakBB commented on #3561
Hey @michixlol there is no such option yet. Most users find it very helpful to see this information and also find it not too intrusive.

I'll update this issue to a feature request, but I don't know when we will add this option.

[2022-06-19 12:40] #3550 closed

[2022-06-20 19:08] michixlol commented on #3561
Hi,
thank you for answering! I understand. I'd love to have the option, but understand that for most it is comfortable as it is. Thank you for adding it to feature requests though!

[2022-06-21 12:05] Iowerth commented on #3249
Hi. Are there any news?

[2022-06-21 12:05] Iowerth commented on #3343
Hi. Are there any news?

[2022-06-21 12:05] Iowerth commented on #3524
Hi. Are there any news?

[2022-06-23 10:49] dlecina opened #3570 "A Thief's Reward available after completion"
## Bug description

Despite #2124 apparently being fixed and the quest appearing in My Journey as completed, A Thief's Reward still appearing in my map as available in all Alliance Festival Flamekeepers after completion. The issue persists after reloading and even restarting.

## Screenshots

![WowClassic_OmoSoZ1c9A](https://user-images.githubusercontent.com/1137825/175281613-2c8b7d8e-1697-4689-b2

[2022-06-24 05:30] yavour commented on #3531
Thank you for your clarification. I posted this issue to NDui author a couple of days ago.
And in release log of latest version on yesterday it mentioned they fixed the error  of name plate support to Questie quest indicator.

[2022-06-25 14:32] TiberiusPendraco commented on #2994
I'm having this problem and I've got the hooks option ticked. Can anyone help me out? Really bugging me that I can't link things from the tracker into chat anymore..

[2022-06-25 18:43] BreakBB commented on #2994
Hey there, could you open up a new issue for this and share a screenshot of your settings with it?

[2022-06-25 20:04] EnterpriseWoW opened #3571 "Bath'rah the Windwatcher now offers chain starting with Quest 8411 "Mastering the Elements" (Shaman only quest)"
## Description

No Quest indicator exists for Quest ID 8411 "[Mastering the Elements](https://tbc.wowhead.com/quest=8411/mastering-the-elements)" offered by [Bath'rah the Windwatcher](https://tbc.wowhead.com/npc=6176/bathrah-the-windwatcher) [NPC ID:6176] in Hillsbrad Foothills. This Quest was originally blacklisted under issue https://github.com/Questie/Questie/issues/1456 .

![Bathrah](https://u

[2022-06-25 21:53] EnterpriseWoW opened #3572 "Lorax's Tale not visible as available quest on world map (Blacksmith only quest)"
## Description

No Quest indicator exists for Quest ID 5126 ["Lorax's Tale"](https://tbc.wowhead.com/quest=5126/loraxs-tale) offered by [Lorax](https://tbc.wowhead.com/npc=10918/lorax) [NPC ID: 10918] in Winterspring.

No Quest indicator:
![Winterspring](https://user-images.githubusercontent.com/108195970/175791124-75eea7fc-f035-4cba-9bb2-613be0b8e396.png)

No "Exclamation mark" at NPC:
![Lorax](h

[2022-06-26 10:26] BreakBB commented on #3570
Hey @dlecina could you do me a favor and run the following two commands in the ingame chat and report the output?

[code]

[2022-06-26 17:33] dlecina commented on #3570
[code]

[2022-06-26 20:53] #3558 closed

[2022-06-27 07:47] hjelp200121 opened #3579 "The Platinum discs (second quest) labeled as minimum level 42, where it should be 40"
## Description
Questie quest database says "Minimum Required Level for Quest: 42" where wowhead and my own experience says that it should be level 40.

## Wowhead link
https://tbc.wowhead.com/quest=2440/the-platinum-discs

## Questie & WoW version
Questie version 6.12.2

[2022-06-27 09:22] BreakBB commented on #3343
Hey @Iowerth nope, no progress on this, sorry.

The alignment is not that easy and neither is "good" word wrap. But we plan to do a major refactoring of the Tracker in the future, which has to fix this.

[2022-06-27 09:28] BreakBB commented on #3524
This is a good idea and shouldn't be hard to implement. But will require some time and it also might be worth to find a good structure for the options.

We are still limited in time and people who actually work on Questie, so we can't give you any estimate. But feel free to look into it yourself 😁

[2022-06-27 09:40] BreakBB commented on #3466
As @Laumesis already said, the current behaviour is streamlined to the regular objectives.

I agree that at least the secondary objectives are not useful to show once a quest is completed (not turned it yet).

Even though this is not a bug as it is the intended behaviour, we should change it 👍🏻

[2022-06-27 09:49] #3515 closed

[2022-06-27 09:50] BreakBB commented on #3517
I am closing this issue in favor of #3544

[2022-06-27 09:50] #3517 closed

[2022-06-27 09:51] BreakBB commented on #3544
From the linked issue above:

[2022-06-27 10:04] artscout commented on #3541
Yep, thank you!

[2022-06-27 14:56] BreakBB commented on #3579
Hey @hjelp200121 can you share a screenshot where it says "Minimum Required Level"?

In the search of Questie it correctly states the quest as Level 40 quest:

![grafik](https://user-images.githubusercontent.com/33514570/175971035-bfb5fffa-c9fd-493e-8622-665bf87008a7.png)

[2022-06-27 15:04] BreakBB commented on #3572
Hey @EnterpriseWoW do you have the "Show All Quests below range (Low level quests)" active? Since this is a level 60 quest it shouldn't show on level 70.

For the Journey it seems the quest was not correctly flagged as Blacksmithing quest.

[2022-06-27 15:10] BreakBB commented on #3570
You are an Alliance player, right @dlecina ?

[2022-06-27 15:21] #3543 closed

[2022-06-27 16:39] EnterpriseWoW commented on #3572
"Show all Quests below range (Low level quests)" is enabled.

Hereunder the output of /dump QuestieDB:IsDoable(5126)

[code]

[2022-06-27 16:42] BreakBB commented on #3572
Interesting. What class do you have @EnterpriseWoW ?

[2022-06-27 16:43] EnterpriseWoW commented on #3572
only Shaman :) @BreakBB

[2022-06-27 17:15] dlecina commented on #3570
I am!

[2022-06-27 17:34] BreakBB commented on #3570
Thanks for reporting, testing and keep coming back to this @dlecina - This helped a lot 👍🏻

[2022-06-27 17:34] #3570 closed

[2022-06-28 08:54] Zarak456 commented on #3544
I am exalted with Netherwing and still dont show up.

![deadliest trap ever laid](https://user-images.githubusercontent.com/106586294/176137617-61c8c00b-c1b9-4f39-b4ef-5dc00a022396.png)

[2022-06-28 11:25] BreakBB commented on #3544
Yes @Zarak456 I didn't fix this yet. Seems like the reputation requirements are not correct yet on our side.

[2022-06-29 15:44] BreakBB commented on #3498
Fixed in 259baa5b44c6f49d271c89701013ef57353be8ff and already released

[2022-06-29 15:44] #3498 closed

[2022-07-02 20:27] Gogo1951 opened #3582 "Lua Issue with Questie / Tracker"
Taintlog after a few hours of questing is too large to post as message, see attachment. (Seems to be the same issue though.)

[taint.log](https://github.com/Questie/Questie/files/9033662/taint.log)

[2022-07-03 01:57] drejjmit commented on #3579
Maybe OP means these versions:

```[2279] = {"The Platinum Discs",{nil,{131474,},nil,},{{5387,},nil,},45,47,1101,nil,{"Take the miniature version of the Discs of Norgannon to the Explorers' League in Ironforge.",}```
_Level 45 requirement_

```[2280] = {"The Platinum Discs",{nil,{131474,},nil,},{{3978,},nil,},42,47,690,nil,{"Take the miniature version of the Discs of Norgannon to the one of the sa

[2022-07-03 09:50] #3249 closed

[2022-07-04 17:34] stratoru opened #3584 ""Against the Legion" Objectives Missing"
## Description
Quest "Against the Legion" is not showing any objective information on the map, minimap, or tooltips.

## Wowhead link
https://tbc.wowhead.com/quest=10641/against-the-legion

## Screenshots
![image](https://user-images.githubusercontent.com/43893231/177198932-425a4ddc-5add-4313-b71a-0ae3c4c38853.png)

Screenshot shows quest log description (objectives should highlight that Wrath Pri